#ImpUrg{
  background-color: red;
  height: 300px;
  width: 300px;
}
#NotImpUrg{
  background-color: rgb(229, 255, 0);
  height: 300px;
  width: 300px;
}
#ImpNotUrg{
  background-color: rgb(0, 225, 255);
  height: 300px;
  width: 300px;
}
#NotImpNotUrg{
  background-color: rgb(255, 0, 255);
  height: 300px;
  width: 300px;
}

.todobox{
  display: flex;
  align-content: flex-start;
  border: 5px solid rgb(237, 145, 205);
  border-radius: 16px;
  padding: 10px;
}

#grid-container {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

#center-grid{
  display: flex;
  justify-content: center;
  align-items: center;
}

.add{
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-right: 4px;
  border-radius: 7px;
  border: none;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 25px;
}

#corner{
  background-color: rgb(85, 255, 0);
  
}

#taskItem{
  background-color: antiquewhite;
  border: 2px solid black;
  text-align: center;
  width: 90%;
  min-height: 40px;
  align-self: center;
  border-radius: 10px;
  border: none;
}

.taskList{
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgba(244, 255, 255, 0.449);
  width: 250px;
  height: 275px;  
  border-radius: 12px;
  padding: 0;
  gap: 3px;
  overflow-y: scroll;
}

.done{
  margin-left: 0;
}


