<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Link to TailwindCSS main css file, in the future href will change to {{url_for('static', filename='css/main.css')}} -->
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</head>
<style>
</style>

<body class="*:m-0 *:p-0 *:box-border">
    <div class="relative w-full h-[100vh] bg-gradient-to-t from-cyan-200 from-0% via-cyan-50 via-70% to-white to-100%">
        <!-- Header div -->
        <div class="header flex justify-end content-start">
            <!-- Cogwhell icon float left -->
            <img src="../static/images/cogwheel_icon.png" alt="cogwheel"
                class="cogwheel float-right w-[4.5vh] m-[1.5vh]">
        </div>
        <!-- Main div -->
        <div class="main">
            <!-- Greeting div centered -->
            <div class="greeting object-center flex justify-between items-center px-[8.5vh] py-[3vh]">
                <div class="title *:md:inline">
                    <div class="text-xl">Xin chào,</div>
                    <div class="font-bold text-3xl">Chí Thành</div>
                </div>
                <div class="leaf flex items-end justify-between">
                    <img src="../static/images/leaf_icon.png" alt="leaf" class="w-[3.5vh] inline mr-1">
                    <div class="inline text-xl">99</div>
                </div>
            </div>
        </div>
        <!-- Main List -->
        <div id="controls-carousel" class="relative w-full" data-carousel="static">
            <!-- Carousel wrapper -->
            <div class="relative h-[50vh] mt-[3vh] overflow-hidden">
                <!-- Item 1 -->
                <!-- <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="../static/images/calendar_icon.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div> -->
                <div class="hidden ease-in-out duration-700 pink task-container border-primary-red"
                    data-carousel-item="active">
                    <!-- Contents -->
                    <div class="task-content-container border-primary-red">
                        <div>
                            <p class="font-semibold text-[3.01vh] text-wrap leading-none">Làm roadmap lập trình mạng</p>
                            <p>11pm, today</p>
                        </div>
                        <div class="bg-primary-red w-[4vh] h-[4vh] flex-none rounded-lg shadow-lg">
                            <img src="../static/images/tick_icon.png" alt="tick_icon" class="hidden">
                        </div>
                    </div>
                </div>
                <!-- Item 2 -->
                <div class="hidden ease-in-out duration-700 green task-container border-primary-green"
                    data-carousel-item>
                    <!-- Contents -->
                    <div class="task-content-container border-primary-green">
                        <div>
                            <p class="font-semibold text-[3.01vh] text-wrap leading-none">Làm roadmap lập trình mạng</p>
                            <p>11pm, today</p>
                        </div>
                        <div class="bg-primary-red w-[4vh] h-[4vh] flex-none rounded-lg shadow-lg">
                            <img src="../static/images/tick_icon.png" alt="tick_icon" class="hidden">
                        </div>
                    </div>
                </div>
                <!-- Item 3 -->
                <div class="hidden ease-in-out duration-700 blue task-container border-primary-blue" data-carousel-item>
                    <!-- Contents -->
                    <div class="task-content-container border-primary-blue">
                        <div>
                            <p class="font-semibold text-[3.01vh] text-wrap leading-none">Làm roadmap lập trình mạng</p>
                            <p>11pm, today</p>
                        </div>
                        <div class="bg-primary-red w-[4vh] h-[4vh] flex-none rounded-lg shadow-lg">
                            <img src="../static/images/tick_icon.png" alt="tick_icon" class="hidden">
                        </div>
                    </div>
                </div>
                <!-- Item 4 -->
                <div class="hidden ease-in-out duration-700 yellow task-container border-primary-yellow"
                    data-carousel-item>
                    <!-- Contents -->
                    <div class="task-content-container border-primary-yellow">
                        <div>
                            <p class="font-semibold text-[3.01vh] text-wrap leading-none">Làm roadmap lập trình mạng</p>
                            <p>11pm, today</p>
                        </div>
                        <div class="bg-primary-red w-[4vh] h-[4vh] flex-none rounded-lg shadow-lg">
                            <img src="../static/images/tick_icon.png" alt="tick_icon" class="hidden">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider indicators -->
            <div
                class="absolute z-30 flex -translate-x-1/2 translate-y-[7vh] bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
                    data-carousel-slide-to="0"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
                    data-carousel-slide-to="1"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
                    data-carousel-slide-to="2"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4"
                    data-carousel-slide-to="3"></button>
            </div>
            <!-- Slider controls -->
            <button type="button"
                class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                data-carousel-prev>
                <span
                    class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-800/30 group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 1 1 5l4 4" />
                    </svg>
                    <span class="sr-only">Previous</span>
                </span>
            </button>
            <button type="button"
                class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                data-carousel-next>
                <span
                    class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-800/30 group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 9 4-4-4-4" />
                    </svg>
                    <span class="sr-only">Next</span>
                </span>
            </button>
        </div>
        <div class="navigation-bottom flex justify-evenly items-end fixed bottom-3 inset-x-0">
            <div class="left-button h-10 w-10 flex justify-center items-center md:h-16 md:w-16">
                <img class="h-8 w-8 md:h-14 md:w-14" alt="leaf" src="../static/images/calendar_icon.png" />
            </div>
            <div
                class="main-button h-16 w-16 bg-background-main border-primary-red border-[3px] rounded-md shadow-2xl flex justify-center items-center mb-[2vh] md:h-24 md:w-24">
                <img class="h-12 w-12 md:h-20 md:w-20" alt="plus" src="../static/images/add_icon.png" />
            </div>
            <div class="right-button h-10 w-10  flex justify-center items-center md:h-16 md:w-16">
                <img class="h-8 w-8 md:h-14 md:w-14" alt="leaf" src="../static/images/leaf_icon.png" />
            </div>
        </div>
    </div>

</body>

</html>