<!DOCTYPE html>
<html>
<style>
    #container {
        width: 400px;
        height: 400px;
        position: relative;
        background: yellow;
    }

    #animate {
        width: 50px;
        height: 50px;
        position: absolute;
        background-color: red;
    }
</style>

<body>
    <p>
        <button onclick="myMove()">Click Me</button>
    </p>
    <div id="container">
        <div id="animate"></div>
    </div>
    <script>
        function myMove() {
            let id = null;
            const elem = document.getElementById("animate");
            const containerSize = document.getElementById("container").offsetWidth;
            let pos = 0;
            clearInterval(id);
            id = setInterval(frame, 5);
            let direction = 0; // 0: right, 1: down, 2: left, 3: up
            let topPos = 0;
            let leftPos = 0;
            let rightBoundary = containerSize - 50;
            let bottomBoundary = containerSize - 50;
            let leftBoundary = 0;
            let topBoundary = 0;
            let isRunning = false;
            let currentBorderRadius = 0;
            let isRunningFull = false; // check if the element has run full cycle
            function frame() {
                // If the element is at the center of the container, or the element can't move anymore
                if (isRunning && ((topBoundary >= bottomBoundary || leftBoundary >= rightBoundary))) {
                    clearInterval(id);
                    // Set the position to the center
                    elem.style.top = "175px";
                    elem.style.left = "175px";
                } else {
                    if (direction === 0) {
                        leftPos++;
                        isRunning = true;
                        if (leftPos >= rightBoundary) {
                            direction = 1; // change direction to down
                            if (isRunningFull) bottomBoundary -= 50; // shrink bottom boundary
                        }
                    } else if (direction === 1) {
                        topPos++;
                        if (topPos >= bottomBoundary) {
                            direction = 2; // change direction to left
                            if (isRunningFull) leftBoundary += 50; // shrink left boundary
                            isRunningFull = true;
                        }
                    } else if (direction === 2) {
                        leftPos--;
                        if (leftPos <= leftBoundary) {
                            direction = 3; // change direction to up
                            if (isRunningFull) topBoundary += 50; // shrink top boundary
                            //isRunningFull = true;
                        }
                    } else if (direction === 3) {
                        topPos--;
                        if (topPos <= topBoundary) {
                            direction = 0; // change direction to right
                            if (isRunningFull) rightBoundary -= 50; // shrink right boundary
                        }
                    }
                    elem.style.top = topPos + "px";
                    elem.style.left = leftPos + "px";
                }
            }
            let elemID = setInterval(borderRadius, 300);

            function borderRadius() {
                if (currentBorderRadius >= 50) {
                    clearInterval(elemID);
                } else {
                    elem.style.backgroundColor = `rgb(${Math.random() * 255}, ${Math.random() * 255}, ${Math.random() * 255})`;
                    elem.style.borderRadius = Math.random() * 50 + "%";
                    elem.style.width = 120 - Math.random() * 100 + "px";
                    elem.style.height = 120 - Math.random() * 100 + "px";
                }
            }
        }
    </script>
</body>

</html>
