<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Reddit+Mono:wght@200..900&display=swap"
        rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body class="overflow-hidden bg-bg4 bg-cover bg-center *:transition-colors">
    <!--########################################################### Addons ######################################################################-->
    {% block addons %}
    <!-- Main modal  -->
    <div id="crud-modal" tabindex="-1" aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-main rounded-lg dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-2 md:p-4 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white"> Create Task </h3>
                    <!-- close btn -->
                    <button id="btn-close-modal" type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form class="p-4 md:p-5">
                    <div class="grid gap-4 mb-4 grid-cols-2">
                        <div id="name-sec" class="col-span-2">
                            <label for="name"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
                            <input type="text" name="name" id="name"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Type todo title" required="" maxlength="128">
                        </div>
                        <div id="desc-sec" class="col-span-2">
                            <label for="description"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Task
                                Description</label>
                            <textarea id="description" rows="4"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 resize-none"
                                placeholder="Write task description here" maxlength="256"></textarea>
                        </div>
                        <div id="todo-expired-sec" class="col-span-2">
                            <label for="todo-expired"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Expired
                                Time</label>
                            <input type="datetime-local" name="" id="todo-expired"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required="">
                        </div>
                        <div id="groups-sec" class="col-span-2 sm:col-span-1">
                            <label for="groups"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Group</label>
                            <select id="groups"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                required="">
                                <option>Select group</option>
                                <!-- Dynamic JS options here -->
                            </select>
                        </div>
                        <div id="tags-sec" class="col-span-2 sm:col-span-1">
                            <label for="tags"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tag</label>
                            <select id="tags"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                required="">
                                <option>Select tag</option>
                                <!-- Dynamic JS options here -->
                            </select>
                        </div>
                        <div id="colors-sec" class="col-span-2 sm:col-span-1">
                            <label for="colors"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Color</label>
                            <input id="colors" type="color"
                                class="bg-gray-50 border border-gray-300 p-1 h-[2.65rem]  w-20 rounded-lg focus:ring-primary-500 focus:border-primary-500 block dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        </div>
                    </div>
                    <!-- Honeypot for Form Anti-spam, also holding task ID https://stackoverflow.com/questions/36227376/better-honeypot-implementation-form-anti-spam (TODO: Remove this link when production) -->
                    <input type="checkbox" name="contact_me_by_phone_number" id="task_" value="1" class="!hidden"
                        autocomplete="off" tabindex="-1">
                    <div class="col-span-2 flex justify-between">
                        <button id="submit-sec" type="submit"
                            class="text-white inline-flex items-center bg-primary-200 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-primary-200 dark:focus:ring-blue-800">
                            <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                                    clip-rule="evenodd"></path>
                            </svg> Create </button>
                        <!--Delete btn-->
                        <button id="delete-sec"
                            class="text-white inline-flex items-center bg-red-300 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-primary-200 dark:focus:ring-blue-800">
                            <svg class="me-1 -ms-1 w-5 h-5 text-white dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z" />
                            </svg> Delete </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--eoModal -->
    {% endblock %}
    <!--########################################################### EoAddons ######################################################################-->

    <div class="bg-main/25 dark:bg-gray-700/70">
        <!--Body Container-->
        {% block header %}
        <!--Begin header-->
        <!--########################################################### NavBar ######################################################################-->
        <div
            class="flex justify-between items-center shadow-xl bg-white dark:bg-gray-700 py-0 pt-2 h-16 lg:h-18 lg:py-2 ">
            <div class="flex justify-evenly items-center gap-2 md:gap-8">
                <!--button-->
                <div id="Main-Menu-Click"
                    class="transform transition-all duration-200 ease-in-out headbar-button overflow-hidden p-2 mx-2 hover:bg-main/35">
                    <svg class="h-full w-full text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                            d="M5 7h14M5 12h14M5 17h10" />
                    </svg>
                </div>
            </div>
            <div id="clock" class="opacity-0 lg:opacity-100 text-xl text-center"></div>
            <div class="flex justify-end items-center p-2 gap-2 ">
                <div class="headbar-button p-1 border-0 hover:bg-main/35">
                    <svg class="h-full w-full text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                            d="M6 12h.01m6 0h.01m5.99 0h.01" />
                    </svg>
                </div>
                <div id="Avatar-Menu-Click"
                    class="headbar-button p-1 border-2 rounded-full cursor-pointer hover:bg-main/35">
                    <img id="Avatar-Image" class="w-full h-full rounded-full" src="/static/images/profile.jpg"
                        alt="avtr">
                </div>
            </div>
        </div>
        {% endblock %}
        <!--End header-->
        <!--########################################################### EoNavBar ######################################################################-->
        <!--########################################################### Profile Dropdown ######################################################################-->
        <!-- Dropdown menu -->
        {% block profile %}
        <div id="Avatar-Menu"
            class="dropdown-anim duration-300 z-10 absolute right-3 h-0 w-52 lg:w-60 overflow-hidden bg-main rounded-b-lg shadow-xl dark:bg-gray-700">
            <a href="{{url_for('profiles.profile', type=session['type'])}}">
                <div id="PMenu-Profile" class="PMenu-Primary-Section">
                    <!--block-->
                    <div class="flex items-center">
                        <div class="PMenu-Primary-Image-Wrapper">
                            <svg class="w-full h-full text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-width="2"
                                    d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                        </div>
                        <div class="PMenu-Primary-Text">Profile</div>
                    </div>
                </div>
            </a>
            <!--eoblock-->
            <div id="PMenu-UserSett" class="PMenu-Primary-Section hidden">
                <!--block-->
                <div class="flex items-center">
                    <div class="PMenu-Primary-Image-Wrapper">
                        <svg class="w-full h-full text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 13v-2a1 1 0 0 0-1-1h-.757l-.707-1.707.535-.536a1 1 0 0 0 0-1.414l-1.414-1.414a1 1 0 0 0-1.414 0l-.536.535L14 4.757V4a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v.757l-1.707.707-.536-.535a1 1 0 0 0-1.414 0L4.929 6.343a1 1 0 0 0 0 1.414l.536.536L4.757 10H4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h.757l.707 1.707-.535.536a1 1 0 0 0 0 1.414l1.414 1.414a1 1 0 0 0 1.414 0l.536-.535 1.707.707V20a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.757l1.707-.708.536.536a1 1 0 0 0 1.414 0l1.414-1.414a1 1 0 0 0 0-1.414l-.535-.536.707-1.707H20a1 1 0 0 0 1-1Z" />
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                        </svg>
                    </div>
                    <div class="PMenu-Primary-Text">User settings</div>
                </div>
            </div>
            <!--eoblock-->
            <div id="PMenu-DarkMode" class="PMenu-Primary-Section">
                <!--block-->
                <div class="flex items-center">
                    <div class="PMenu-Primary-Image-Wrapper">
                        <svg class="w-full h-full text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 21a9 9 0 0 1-.5-17.986V3c-.354.966-.5 1.911-.5 3a9 9 0 0 0 9 9c.239 0 .254.018.488 0A9.004 9.004 0 0 1 12 21Z" />
                        </svg>
                    </div>
                    <div class="PMenu-Primary-Text">Dark mode</div>
                    <label class="inline-flex items-center cursor-pointer px-3">
                        <input id="Toggle-DarkMode" type="checkbox" value="" class="sr-only peer">
                        <div
                            class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                        </div>
                    </label>
                </div>
            </div>
            <!--eoblock-->
            <div id="PMenu-Logout" class="PMenu-Primary-Section">
                <!--block-->
                <a href="{{url_for('auth.logout')}}">
                    <button>
                        <div class="flex items-center">
                            <div class="PMenu-Primary-Image-Wrapper">
                                <svg class="h-full w-full text-gray-800 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5"
                                        d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2" />
                                </svg>
                            </div>
                            <div class="PMenu-Primary-Text">Log out</div>
                        </div>
                    </button>
                </a>
            </div>
            <!--eoblock-->
            <div id="PMenu-Coin" class="PMenu-Primary-Section"> <!--block-->
                <div class="flex items-center">
                    <div class="PMenu-Primary-Image-Wrapper">
                        <img class="w-full h-full" src="../static/images/tree_game/JackpotCoin.png" class="" alt="coin">
                    </div>
                    <div id="PMenu-Display-Coin" class="PMenu-Primary-Text truncate">Coins: 999</div>
                </div>
            </div><!--eoblock-->
        </div>
        {% endblock %}
        <!--########################################################### EoProfile Dropdown ######################################################################-->
        <!--########################################################### Dropdown Main Menu ######################################################################-->
        {% block mainmenu %}
        <!-- Dropdown Main menu -->
        <div id="Main-Menu"
            class="dropdown-anim duration-300 h-0 z-10 absolute items-start w-54 lg:w-64 bg-main dark:bg-gray-700 shadow-xl overflow-hidden  rounded-br-xl">
            <div id="MMenu-Search" class="MMenu-Primary-Section mt-4">
                <!--block-->
                <div class="flex items-center">
                    <div id="Begin-Search" class="MMenu-Primary-Image-Wrapper">
                        <svg class="w-6 lg:w-7 h-6 lg:h-7 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <div class="p-2 flex items-center">
                        <textarea name="SearchBox" id="SearchBox"
                            class="MMenu-Primary-Text bg-main rounded-xl border-0 text-left resize-none w-full" rows="1"
                            placeholder="Search"></textarea>
                    </div>
                </div>
            </div>
            <!--eoblock-->
            <div id="MMenu-Today" class="MMenu-Primary-Section">
                <!--block-->
                <div class="flex items-center">
                    <div class="MMenu-Primary-Image-Wrapper">
                        <svg class="w-6 lg:w-7 h-6 lg:h-7 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8 7H5a2 2 0 0 0-2 2v4m5-6h8M8 7V5a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2m0 0h3a2 2 0 0 1 2 2v4m0 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-6m18 0s-4 2-9 2-9-2-9-2m9-2h.01" />
                        </svg>
                    </div>
                    <div class="MMenu-Primary-Text">Today</div>
                </div>
            </div>
            <!--eoblock-->
            <div id="MMenu-Calendar" class="MMenu-Primary-Section">
                <!--block-->
                <div class="flex items-center">
                    <div class="MMenu-Primary-Image-Wrapper">
                        <svg class="w-6 lg:w-7 h-6 lg:h-7 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z" />
                        </svg>
                    </div>
                    <div class="MMenu-Primary-Text">Calendar</div>
                </div>
            </div>
            <!--eoblock-->
            <div id="MMenu-Garden" class="MMenu-Primary-Section ">
                <!--block-->
                <div class="flex items-center">
                    <div class="MMenu-Primary-Image-Wrapper">
                        <svg class="w-6 lg:w-7 h-6 lg:h-7 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path
                                d="M10.9 11.77C10.7943 11.7701 10.6898 11.7479 10.5933 11.7049C10.4968 11.6618 10.4105 11.5988 10.34 11.52C10.2704 11.4397 10.2185 11.3457 10.1875 11.2441C10.1564 11.1425 10.1471 11.0355 10.16 10.93C10.16 10.84 11.39 1.79001 19.38 1.79001C19.5625 1.79112 19.7384 1.85877 19.8746 1.98027C20.0109 2.10177 20.0981 2.26879 20.12 2.45001C20.3565 4.80481 19.6559 7.15798 18.17 9.00001C16.57 10.85 14.12 11.77 10.9 11.77ZM18.66 3.32001C13.85 3.74001 12.27 8.32001 11.81 10.24C12.7769 10.2358 13.7333 10.0401 14.6241 9.66424C15.5149 9.28836 16.3224 8.73972 17 8.05001C18.0966 6.72 18.6849 5.04362 18.66 3.32001Z">
                            </path>
                            <path
                                d="M10.9 11.76H10.81C8.4 11.46 3.81 9.59001 3.81 4.70001C3.81082 4.51636 3.87812 4.33921 3.99945 4.20133C4.12078 4.06346 4.28793 3.97418 4.47 3.95002C6.29444 3.76532 8.11851 4.30392 9.55 5.45001C10.2852 6.16484 10.8543 7.03244 11.2172 7.99148C11.5801 8.95052 11.7278 9.97758 11.65 11C11.6501 11.1057 11.6279 11.2102 11.5849 11.3067C11.5418 11.4032 11.4788 11.4896 11.4 11.56C11.2624 11.6839 11.0851 11.7548 10.9 11.76ZM5.38 5.42002C5.77 8.54002 8.63 9.69002 10.11 10.08C10.0678 8.75333 9.51211 7.49486 8.56 6.57002C7.66004 5.83899 6.53936 5.43372 5.38 5.42002Z">
                            </path>
                            <path
                                d="M10.9 15.9C10.7011 15.9 10.5103 15.821 10.3697 15.6803C10.229 15.5397 10.15 15.3489 10.15 15.15V11C10.15 10.8011 10.229 10.6103 10.3697 10.4697C10.5103 10.329 10.7011 10.25 10.9 10.25C11.0989 10.25 11.2897 10.329 11.4303 10.4697C11.571 10.6103 11.65 10.8011 11.65 11V15.13C11.6541 15.2305 11.6376 15.3308 11.6016 15.4248C11.5657 15.5187 11.5109 15.6043 11.4407 15.6764C11.3705 15.7485 11.2864 15.8055 11.1934 15.8439C11.1004 15.8824 11.0006 15.9014 10.9 15.9Z">
                            </path>
                            <path
                                d="M13.5 22.21H8.7C7.71495 22.1943 6.77542 21.7926 6.08348 21.0913C5.39155 20.39 5.00249 19.4452 5 18.46V15.15C5 14.9511 5.07902 14.7603 5.21967 14.6197C5.36032 14.479 5.55109 14.4 5.75 14.4H16.5C16.6989 14.4 16.8897 14.479 17.0303 14.6197C17.171 14.7603 17.25 14.9511 17.25 15.15V18.46C17.2474 19.4537 16.8514 20.406 16.1487 21.1087C15.446 21.8114 14.4938 22.2074 13.5 22.21ZM6.5 15.9V18.46C6.49985 19.0482 6.73003 19.613 7.14123 20.0336C7.55244 20.4541 8.11197 20.6969 8.7 20.71H13.5C14.0967 20.71 14.669 20.4729 15.091 20.051C15.5129 19.629 15.75 19.0567 15.75 18.46V15.9H6.5Z">
                            </path>
                        </svg>
                    </div>
                    <div class="MMenu-Primary-Text">My Garden</div>
                </div>
            </div>
            <!--eoblock-->
            <div id="MMenu-Group-Add"
                class="MMenu-Primary-Section border-t-[1px] border-b-[1px] border-yellow-700 justify-between pl-3">
                <!--block-->
                <div class="MMenu-Primary-Text">Add Group</div>
                <div class="flex items-center justify-end">
                    <div class="MMenu-Primary-Image-Wrapper">
                        <svg class="w-6 lg:w-7 h-6 lg:h-7 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 12h14m-7 7V5" />
                        </svg>
                    </div>
                </div>
            </div>
            <!--eoblock-->
            <div id="MMenu-Group-Section"
                class="relative MMenu-Group-Section overflow-y-scroll py-5 h-1/2 bg-gray-300/35 ">
                <!--group here-->
            </div>
            <div id="MMenu-Bottom" class="flex justify-between items-center p-2">
                <div class="Log-out">
                    <a href="{{url_for('auth.logout')}}">
                        <button>
                            <svg class="w-6 lg:w-7 h-6 lg:h-7 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="1.5"
                                    d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2" />
                            </svg>
                        </button>
                    </a>
                </div>
                <div class="Settings">
                    <svg class="w-6 lg:w-7 h-6 lg:h-7 text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M21 13v-2a1 1 0 0 0-1-1h-.757l-.707-1.707.535-.536a1 1 0 0 0 0-1.414l-1.414-1.414a1 1 0 0 0-1.414 0l-.536.535L14 4.757V4a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v.757l-1.707.707-.536-.535a1 1 0 0 0-1.414 0L4.929 6.343a1 1 0 0 0 0 1.414l.536.536L4.757 10H4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h.757l.707 1.707-.535.536a1 1 0 0 0 0 1.414l1.414 1.414a1 1 0 0 0 1.414 0l.536-.535 1.707.707V20a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.757l1.707-.708.536.536a1 1 0 0 0 1.414 0l1.414-1.414a1 1 0 0 0 0-1.414l-.535-.536.707-1.707H20a1 1 0 0 0 1-1Z" />
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                    </svg>
                </div>
            </div>
        </div>
        {% endblock %}
        <!--End Dropdown menu-->
        <!--########################################################### EoDropdown Main Menu ######################################################################-->
        <!--########################################################### Dropdown Mode ######################################################################-->
        {% block dropdown %}
        <!-- Dropdown menu -->
        <div id="Mode-Menu"
            class="dropdown-anim duration-300 z-10 absolute right-10 h-0 w-52 lg:w-60 overflow-hidden bg-main rounded-b-lg shadow-xl dark:bg-gray-700">
            <div id="ModeMenu-Profile" class="ModeMenu-Primary-Section">
                <!--block-->
                <div class="flex items-center">
                    <div class="ModeMenu-Primary-Image-Wrapper">
                        <svg class="w-full h-full text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9.143 4H4.857A.857.857 0 0 0 4 4.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 10 9.143V4.857A.857.857 0 0 0 9.143 4Zm10 0h-4.286a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 20 9.143V4.857A.857.857 0 0 0 19.143 4Zm-10 10H4.857a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286a.857.857 0 0 0 .857-.857v-4.286A.857.857 0 0 0 9.143 14Zm10 0h-4.286a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286a.857.857 0 0 0 .857-.857v-4.286a.857.857 0 0 0-.857-.857Z" />
                        </svg>
                    </div>
                    <div class="ModeMenu-Primary-Text">Grid</div>
                </div>
            </div>
            <!--eoblock-->
        </div>
        {% endblock %}
        <!--########################################################### EoDropdown Mode ######################################################################-->
        <!--########################################################### Calendar ######################################################################-->
        <!-- Redirect to Backend Generator here -->
        <!-- Begin Calendar -->
        {% block calendar %}
        <div id="Calendar" class="Container backdrop-blur-sm py-10 h-[90vh] overflow-y-scroll overflow-x-hidden">
            <div class="w-full flex justify-around">
                <!-- Mobile version -->
                <div class="relative w-[300px] flex-none flex flex-col items-center">
                    <!-- Calendar - data-date will fill in backend -->
                    <div id="calendar" inline-datepicker data-date="05/02/2024" class="pb-[10px]"></div>
                    <!-- Todo with expired day -->
                    <div id="tasks-display" class="group-outer ">
                        <div class="flex justify-between items-center px-3 ">
                            <!-- Title -->
                            <div id="Task-Group-Title" class="todobox-title  dark:text-white">March 7th, 2024</div>
                            <div class="Group-Task-Add ">
                                <!-- <svg class="w-6 lg:w-7 h-6 lg:h-7 text-gray-800 dark:text-white" aria-hidden="true"
																					xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"></path></svg> -->
                            </div>
                        </div>
                        <!-- Content -->
                        <div id="Task-Section-Outer"
                            class="bg-main/55 dark:bg-gray-700/80 transition-all duration-300 ease-in-out border-t-8 pt-4 p-2 overflow-hidden shadow-xl hover:shadow-2xl rounded-xl "
                            style="border-color: #546f72;">
                            <!-- In this div, height of gid001 will dynamically change based on 100vh, 350px is height of calendar, 40px is height of title and  - remove lg:w-96, lg:text-xl-->
                            <div id="Task-Section"
                                class="relative px-2 pb-9 flex flex-col gap-3 overflow-y-auto overflow-x-hidden rounded-xl w-72 h-[calc(100vh-350px-40px)] ">
                                <!--task here-->
                                <div id="id001" class="task-outer bg-main dark:bg-dark/50 rounded-xl cursor-default">
                                    <div class=" rounded-lg shadow-lg">
                                        <!-- Title -->
                                        <div class=" px-2 py-1 flex justify-between items-center border-b-[2px]">
                                            <!-- Task title -->
                                            <div class="font-semibold text-lg truncate w-full dark:text-white ">Meeting
                                            </div>
                                            <!-- Task edit and delete -->
                                            <div class="flex items-center gap-2">
                                                <div class="Task-Edit mx-1 cursor-pointer">
                                                    <svg class="w-5 h-5 text-gray-800 dark:text-white"
                                                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                                        height="24" fill="none" viewBox="0 0 24 24">
                                                        <path stroke="currentColor" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-width="1.5"
                                                            d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z">
                                                        </path>
                                                    </svg>
                                                </div>
                                                <div id="Task-Cancel"
                                                    class="bg-red-500 rounded-full shadow-lg h-4 w-4 font-bold cursor-pointer">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Task description -->
                                        <div class="p-2 flex items-center h-fit">
                                            <p class="h-full w-full text-left p-2 font-base truncate dark:text-white">
                                                About making a website</p>
                                            <!-- Complete checkbox -->
                                            <input id="Task-Destroyer" type="checkbox"
                                                class="bg-primary-200 rounded-xl shadow-lg h-4 w-4 font-bold border-none cursor-pointer">
                                        </div>
                                        <!-- Tag -->
                                        <div id="Task-Tag" class="p-2 flex gap-2 overflow-hidden">
                                            <div id="tag1"
                                                class="rounded-md text-center min-w-12 font-base text-xs border-none dark:text-white shadow-lg cursor-pointer"
                                                style="background-color: #546f72;">tag1</div>
                                            <div id="tag1"
                                                class="rounded-md text-center min-w-12 font-base text-xs border-none dark:text-white shadow-lg cursor-pointer"
                                                style="background-color: #546f72;">tag1</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Calendar-->
        <!--########################################################### EoCalendar ######################################################################-->
        <div class="Bottom-Bar w-full bottom-0 bg-accent-200 flex justify-between m-0">
            <div class=""></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../static/js/app.js" type="module"></script>
    <script src="../static/js/calendarNew.js" type="module"></script>
    <script>
        // $("#Calendar").load("calendarNewPage.html");
    </script>
</body>

</html>