<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/main.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</head>
<body>
  <div class=" flex justify-center items-center bg-bg4 bg-cover bg-center bg-no-repeat h-[100vh] w-screen">
    <div class="max-w-md mx-auto text-center bg-white bg-opacity-90 p-8 rounded-lg shadow-lg">
      <div class="text-9xl font-bold text-indigo-600 mb-4">404</div>
      <h1 class="text-4xl font-bold text-gray-800 mb-6">Oops! Page Not Found</h1>
      <p class="text-gray-600 mb-6">The page you are looking for might have been removed, had its name changed or is
        temporarily unavailable.</p>
      <a href="{{url_for('auth.index')}}"
        class="inline-block bg-indigo-600 text-white font-semibold px-6 py-3 rounded-md hover:bg-indigo-700 transition-colors duration-300">
        Go Back 
      </a>
    </div>
</body>
</html>