<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Link to TailwindCSS main css file, in the future href will change to {{url_for('static', filename='css/main.css')}} -->
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<style>
    .scrollbar::-webkit-scrollbar {
        display: none;
    }
    .scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
</style>
<body class="m-0 p-0 box-border">
    <!-- Header div -->
    <div class="header flex justify-end content-start">
        <!-- Cogwhell icon float left -->
        <img src="../static/images/cogwheel_icon.png" alt="cogwheel" class="float-right w-[4.5vh] m-[1.5vh]">
    </div>
    <!-- Main div -->
    <div class="main">
        <!-- Greeting div centered -->
        <div class="greeting object-center flex justify-between items-center px-[8.5vh] py-[3vh]">
            <div class="title">
                <div class="text-xl">Xin chào,</div>
                <div class="font-bold text-3xl">Chí Thành</div>
            </div>
            <div class="leaf flex items-end justify-between">
                <img src="../static/images/leaf_icon.png" alt="leaf" class="w-[3.5vh] inline mr-1">
                <div class="inline text-xl">99</div>
            </div>
        </div>
    </div>
    <!-- Main List -->
    <div class="lists whitespace-nowrap overflow-auto mt-[5vh]">
        <!-- Left div -->
        <div class="pink inline-block border-green border-4 rounded-[3vh] w-[70vw] h-[50vh] mx-[2vw]">
            Hello
        </div>
        <!-- Center div -->
        <div class="pink inline-block border-pink border-4 rounded-[3vh] w-[70vw] h-[50vh] mx-[2vw]">
            Hello
        </div>
        <div class="pink inline-block border-blue border-4 rounded-[3vh] w-[70vw] h-[50vh] mx-[2vw]">
            Hello
        </div>
    </div>
</body>
</html>