<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

</head>

<body class="overflow-hidden">
    <div class="bg-background-thirdary"> <!--Container-->

        <!--Begin header-->
        <div class="p-3">
            <div class="border-2 rounded-xl border-accent-red">
                <div class="flex justify-between items-center">
                    <div class="flex justify-evenly items-center p-2 gap-2">

                        <div id="dropMenuClick" class="headbar-button overflow-hidden" isOpen="false">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                    d="M5 7h14M5 12h14M5 17h14" />
                            </svg>
                        </div>

                        <div class="flex flex-col justify-center items-start">
                            <div>JakeClark Proj</div>
                            <div>List: 99%</div>
                        </div>

                    </div>
                    <div class="flex justify-end items-center p-2 gap-2">
                        <div class="headbar-button">
                            <img class=""
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAAAsTAAALEwEAmpwYAAABJklEQVR4nO2YQUrEQBBFX+eWYsZruC1dudBZKQh6kzmSK/UAJUItQpjOrHrodP0HBQkJpOt3VX06IIQQQgghxLUpwC1wE9epKMAb4BGfwETS5D2TCKWSfAoRyoXkhxahAO+rRL8q1x7vlpF3/gN4WNwb8DpiJZRK8lMkvRSgjCjCy0ZprwWotcqRHfO70dfnBDgnwjc75hH4iUpYD7WaAMS7zyHg+tkw2IYAKTAJgCrA1QJoBriGIHIBIyEmF0Au4HIB5AIuF0AuYCTEsrvAYSHATEKmSHze+4/PNExRtodOd6z5+u4WPfv/kd5ovj7rfGo3X59JAFQBrhZAM8A1BJELGMlt8ATcdxanawrgnYe1Pr565zG3PL4+dR46XgshhBBCCC7zB9eCREG4l8/PAAAAAElFTkSuQmCC">
                        </div>
                        <div class="headbar-button">
                            <img
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAPElEQVR4nGNgGAWjYBQMT+DNwMDwhIGB4TEDA4MnBeI4AUjhfyh+RIH4wFngCdUEUuxBgfgoGAWjYNgAAIMDJKaeed9aAAAAAElFTkSuQmCC">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End header-->




        <!-- Dropdown menu -->
        <div id="dropMenu" class="dropdown-anim duration-300 h-0 ml-3 px-3 z-10 absolute bg-primary-green rounded-xl">
            <div>
                <div class="">
                    <div id="dropSubMenuInfoClick" class="button">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 9-7 7-7-7" />
                        </svg>
                        <div class="text-2xl px-[2vh]">More</div>
                    </div>

                    <div class="dropdown-anim h-0 bg-slate-300 overflow-hidden rounded-md " id="dropSubMenuInfo">
                        <div class="text-xl">Team: J4ckP0t</div>
                        <div class="text-xl">AI recommender: Off</div>
                        <div class="text-xl">Task Completed: 5/5</div>
                        <div class="text-xl">Online: 32m ago (Synced)</div>
                        <div class="more-choice">
                            <div class="Setting button flex items-center my-3">
                                <img src="../static/images/cogwheel_icon.png" alt="cogwheel-icon"
                                    class="w-[4vh] inline">
                                <div class="text-xl px-[2vh]">Settings</div>
                            </div>

                            <div class="Team-activity button flex items-center my-3">
                                <img src="../static/images/add-group.png" alt="group-icon" class="w-[4vh] inline">
                                <div class="text-xl px-[2vh]">Add / Join a Team</div>
                            </div>

                            <div class="Log button flex items-center my-3">
                                <img src="../static/images/log.png" alt="log-icon" class="w-[4vh] inline">
                                <div class="text-xl px-[2vh]">Activity Log</div>
                            </div>
                            <div class="Logout button flex items-center my-3">
                                <img src="../static/images/logout.png" alt="logout-icon" class="w-[4vh] inline">
                                <div class="text-xl px-[2vh]">Log out</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div>
                <div class="search button">
                    <img src="../static/images/search-icon.png" alt="search-icon" class="w-[4vh] inline">
                    <div class="text-2xl px-[2vh]">Search</div>
                </div>
            </div>
            <div>
                <div class="todo button">
                    <img src="../static/images/check-box.png" alt="checkbox-icon" class="w-[4vh] inline">
                    <div class="text-2xl px-[2vh] justify-center">Todo Today</div>
                </div>
            </div>
            <div>
                <div class="tree button">
                    <img src="../static/images/leaf_icon.png" alt="leaf-icon" class="w-[4vh] inline">
                    <div class="text-2xl px-[2vh]">Tree</div>
                </div>
            </div>
            <div>
                <div class="notification button">
                    <img src="../static/images/bell-icon.png" alt="bell-icon" class="w-[4vh] inline">
                    <div class="text-2xl px-[2vh] center">Notifications</div>
                </div>
            </div>
            <div>
                <div class="grey-border-rounded">
                    <!-- Greeting div, status centered -->
                    <div id="dropPersonalClick"
                        class="greeting object-center flex justify-between items-center my-2 hover:bg-slate-200">
                        <div class="title *:md:inline">
                            <div class="text-xl">JakeClark's Project</div>
                        </div>
                        <div class="up-arrow flex items-end justify between">
                            <img src="../static/images/down-arrow.png" alt="down-arrow" class="w-[4.5vh] inline mr-1">
                        </div>
                    </div>

                    <!-- Dropdown list -->
                    <div id="dropPersonal" class="dropdown-anim h-0 overflow-hidden rounded-md py-1 w-full z-10 px-[3vh]">
                        <div class="Completed button">
                            <img src="../static/images/check.png" alt="check-icon" class="w-[3vh] inline">
                            <label class="text-xl px-[2vh] center">Completed</label>
                        </div>
                        <div class="Uncompleted button">
                            <img src="../static/images/close.png" alt="uncheck-icon" class="w-[3vh] inline">
                            <label class="text-xl px-[2vh] center">Uncompleted</label>
                        </div>
                        <div class="List button">
                            <img src="../static/images/list.png" alt="list-icon" class="w-[3vh] inline">
                            <label class="text-xl px-[2vh] center">List1</label>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="grey-border-rounded">
                    <!-- Greeting div, status centered -->
                    <div class="greeting object-center flex justify-between items-center px-[2vh] my-2">
                        <div class="title *:md:inline">
                            <div class="text-xl">Team's Project</div>
                        </div>
                        <div class="up-arrow flex items-end justify between">
                            <img src="../static/images/down-arrow.png" alt="down-arrow" class="w-[4.5vh] inline mr-1"
                                id="dropdownButtonTeam">
                        </div>
                    </div>
                    <!-- Dropdown list -->
                    <div class="dropdown hidden shadow-md rounded-md py-1 w-full z-10 px-[3vh]" id="dropdownListTeam">
                        <div class="Completed button">
                            <img src="../static/images/check.png" alt="check-icon" class="w-[3vh] inline">
                            <label class="text-xl px-[2vh] center">Completed</label>
                        </div>
                        <div class="Uncompleted button">
                            <img src="../static/images/close.png" alt="uncheck-icon" class="w-[3vh] inline">
                            <label class="text-xl px-[2vh] center">Uncompleted</label>
                        </div>
                        <div class="List button">
                            <img src="../static/images/list.png" alt="list-icon" class="w-[3vh] inline">
                            <label class="text-xl px-[2vh] center">List1</label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="justify-end">
                <div class="flex justify-between items-start *:m-3">
                    <div class="adjust flex items-center">
                        <img src="../static/images/light-mode.png" alt="sun-icon" class="w-[3vh] mx-3">
                        <div class="toggle flex items-center">
                            <div class="toggle-button" onclick=""></div>
                        </div>
                        <img src="../static/images/night-mode.png" alt="moon-icon" class="w-[3vh] mx-3">
                    </div>
                    <div class="adjust flex items-center">
                        <img src="../static/images/vietnam.png" alt="vietnam-icon" class="w-[3vh] mx-3">
                        <div class="toggle flex items-center">
                            <div class="toggle-button" onclick=""></div>
                        </div>
                        <img src="../static/images/united-kingdom.png" alt="moon-icon" class="w-[3vh] mx-3">
                    </div>
                </div>
            </div>
        </div>
        <!--End Dropdown menu-->

























        <!--Begin selection-->
        <div class="bg-slate-300 bg-opacity-50">
            <div class="flex justify-center items-center gap-3">
                <div class="font-light text-xl"> The Something Matrix</div>
                <div class="headbar-button p-1 border-0" data-dropdown-toggle="drop-matrix-Click"
                    data-dropdown-trigger="click">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 9-7 7-7-7" />
                    </svg>
                </div>

                <!-- Dropdown select-->
                <div id="drop-matrix-Click" class="z-10 hidden p-3 py-5 bg-background-main rounded-xl">
                    <div class="flex flex-col gap-2 *:py-2 *:text-center *:px-5 *:bg-slate-200 *:rounded-lg">
                        <div class="">Eisenhauer Matrix</div>
                        <div class="">Carousel</div>
                        <div class="">List</div>
                    </div>
                </div>
                <!--End Dropdown select-->

            </div>
        </div>
        <!--End Selection-->
        <!--Begin Matrix-->
        <div class="p-6 m-3">
            <div class="">
                <div class="flex flex-col justify-center items-center gap-2">
                    <div class="flex gap-2 justify-center items-center">
                        <!--matrix-->
                        <div class="todobox bg-primary-red">
                            <div class="todobox-title">Do:</div>
                            <div class=""></div>
                        </div>
                        <!--box-->

                        <div class="todobox bg-primary-green">
                            <div class="todobox-title">Schedule:</div>
                            <div class=""></div>
                        </div>
                    </div>

                    <div class="flex gap-2 justify-center items-center">
                        <div class="todobox bg-primary-blue">
                            <div class="todobox-title">Delegate:</div>
                            <div class=""></div>
                        </div>
                        <div class="todobox bg-primary-yellow">
                            <div class="todobox-title">Delete:</div>
                            <div class=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Matrix-->
    </div>
    <script defer src="../static/js/app.js"></script>
</body>

</html>