<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

</head>

<body class="overflow-hidden bg-background1 bg-cover">



    <!--########################################################### Addons ######################################################################-->

    <!-- modal-->
    <div id="modal-container"
        class="opacity-0 flex justify-center items-center fixed z-50 h-full w-full pointer-events-none bg-slate-300">
        <div id="modal" class="border-2 rounded-2xl shadow-xl h-[80vh] w-64 md:w-80  bg-white ">

            <div class="flex justify-between items-center border-b-2 p-3 px-5">
                <h2>Create Task</h2>
                <div><button id="close-bt">X</button></div>
            </div>

            <div class="flex flex-col items-center h-32 w-full p-4 m-0">
                <div class="content w-full h-16 my-3">
                    <input id="Add-Task-Title" type="text"
                        class="text-center border-2 border-gray-400 rounded-lg  w-full h-full text-[1rem] "
                        placeholder="Task Input Here">
                </div>

                <div class="content w-full h-32">
                    <textarea id="Add-Task-Desc"
                        class="text-center border-2 border-gray-400 rounded-lg  w-full h-full text-[1rem] resize-none"
                        placeholder="Description Input here"></textarea>
                </div>
            </div>

            <div class="flex flex-col w-full p-4 my-4">
                <div class="content w-full pl-3 my-2"> Tags </div>
                <div id="Tag-list" class="flex flex-wrap gap-1 ">
                    <!--tag list-->
                    <!--tag dropdown list-->
                    <div id="add-tag-bt" data-dropdown-toggle="dropdown"
                        class="w-20 h-8 border-2 border-gray-400 rounded-lg text-center border-dashed ">
                        <svg class="w-full h-full text-gray-800 dark:text-white hover:rotate-3" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 12h14m-7 7V5" />
                        </svg>
                    </div>
                    <!-- Dropdown menu -->
                    <div id="dropdown"
                        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                            aria-labelledby="dropdownDefaultButton">
                            <!-- <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                        </li> -->
                        </ul>
                    </div>


                </div>
            </div>

            <div class="flex justify-around items-center w-full h-16 border-t-2 bottom-0">
                <div class="content h-10 w-24 "><button id="add-task-bt"
                        class=" border-[1px] border-gray-400 rounded-2xl h-full w-full">Submit</button></div>
                <div class="content h-10 w-24 "><button id="cancle-bt"
                        class="border-[1px] border-gray-400 rounded-2xl h-full w-full ">Cancel</button></div>
            </div>
        </div>
    </div>
    <!--kết thúc phần modal-->
    <!--########################################################### EoAddons ######################################################################-->



    <!--########################################################### NavBar ######################################################################-->
    <div class=""> <!--Container-->
        <!--Begin header-->

        <div
            class="flex justify-between items-center bg-gradient-to-b from-accent-100 to-primary-100 py-0 h-16 lg:h-18 lg:py-2 shadow-xl">
            <div class="flex justify-evenly items-center gap-2 md:gap-8">
                <!--button-->
                <div id="Main-Menu-Click" class="headbar-button overflow-hidden p-2 mx-2 hover:roa">
                    <svg class="h-full w-full text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                            d="M5 7h14M5 12h14M5 17h10" />
                    </svg>

                </div>
            </div>

            <div class="flex justify-end items-center p-2 gap-2">
                <div class="headbar-button p-1 border-0">
                    <svg class="h-full w-full text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                            d="M6 12h.01m6 0h.01m5.99 0h.01" />
                    </svg>

                </div>
            </div>


        </div>

        <!--End header-->
        <!--########################################################### EoNavBar ######################################################################-->



        <!--########################################################### Float Btn ######################################################################-->
        <!-- add question action button here-->
        <div class="">
            <div id="a0002" class="">
                <div id="moveButton"
                    class="hover:w-14 hover:h-14 border-2 border-primary-100 shadow-xl absolute rounded-full w-12 h-12 bg-accent-200 p-2">
                    <svg class="w-full h-full text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 12h14m-7 7V5" />
                    </svg>
                </div>
            </div>
        </div>
        <!-- kết thúc phần nút -->
        <!--########################################################### EoFloat Btn ######################################################################-->



        <!--########################################################### Dropdown Main Menu ######################################################################-->

        <!-- Dropdown Main menu -->
        <div id="Main-Menu"
            class="dropdown-anim duration-300 h-0 z-10 absolute items-start w-52 lg:w-64 bg-gradient-to-b from-green-200 to-primary-200 overflow-hidden">


            <div class="MMenu-Primary-Section"> <!--block-->
                <div class="flex items-center">
                    <div class="MMenu-Primary-Image-Wrapper">
                        <svg class="w-full h-full text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>

                    <div class="MMenu-Primary-Text">Search</div>
                </div>
            </div><!--eoblock-->
            <div id="MMenu-Today" class="MMenu-Primary-Section"> <!--block-->
                <div class="flex items-center">
                    <div class="MMenu-Primary-Image-Wrapper">
                        <svg class="w-full h-full text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>

                    <div class="MMenu-Primary-Text">Today</div>
                </div>
            </div><!--eoblock-->
            <div id="MMenu-Calendar" class="MMenu-Primary-Section"> <!--block-->
                <div class="flex items-center">
                    <div class="MMenu-Primary-Image-Wrapper">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z" />
                        </svg>

                    </div>

                    <div class="MMenu-Primary-Text">Calendar</div>
                </div>
            </div><!--eoblock-->
            <div class="MMenu-Primary-Section"> <!--block-->
                <div class="flex items-center">
                    <div class="MMenu-Primary-Image-Wrapper">
                        <svg class="w-full h-full text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 5.365V3m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175 0 .593 0 1.292-.538 1.292H5.538C5 18 5 17.301 5 16.708c0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 12 5.365ZM8.733 18c.094.852.306 1.54.944 2.112a3.48 3.48 0 0 0 4.646 0c.638-.572 1.236-1.26 1.33-2.112h-6.92Z" />
                        </svg>

                    </div>

                    <div class="MMenu-Primary-Text">Notifications</div>
                </div>
            </div><!--eoblock-->
            <div id="MMenu-Group-Add"
                class="MMenu-Primary-Section border-t-[1px] border-b-[1px] border-yellow-700 flex items-center justify-between pl-3">
                <!--block-->
                <div class="MMenu-Primary-Text text-base">Add Group</div>
                <div class="flex items-center justify-end">
                    <div class="MMenu-Primary-Image-Wrapper">
                        <svg class="w-full h-full text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 12h14m-7 7V5" />
                        </svg>
                    </div>
                </div>
            </div><!--eoblock-->

            <div id="MMenu-Group-Section" class="MMenu-Group-Section overflow-y-scroll py-5">
                <!--group here-->
            </div>

        </div>
        <!--End Dropdown menu-->
        <!--########################################################### EoDropdown Main Menu ######################################################################-->



        <!--########################################################### Right sidebar ######################################################################-->
        <!--Begin Sidebar-->
        <div class="bg-transparent Sidebar-Right z-10 absolute right-0 h-96 hidden">
            <div
                class="transform transition-all ease-in-out duration-300 bg-gradient-to-r from-primary-100 to-accent-100 shadow-xl h-full px-2 py-5">

                <div class=""> <!--Sidebar btn-->
                    <div class="headbar-button hover:bg-blue-500 border-0" data-dropdown-toggle="drop-matrix-Click"
                        data-dropdown-trigger="click" data-dropdown-placement="left-end">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9.143 4H4.857A.857.857 0 0 0 4 4.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 10 9.143V4.857A.857.857 0 0 0 9.143 4Zm10 0h-4.286a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 20 9.143V4.857A.857.857 0 0 0 19.143 4Zm-10 10H4.857a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286a.857.857 0 0 0 .857-.857v-4.286A.857.857 0 0 0 9.143 14Zm10 0h-4.286a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286a.857.857 0 0 0 .857-.857v-4.286a.857.857 0 0 0-.857-.857Z" />
                        </svg>
                    </div>
                    <!-- Dropdown select-->
                    <div id="drop-matrix-Click" class="z-10 hidden p-3 py-5 bg-background-main rounded-xl">
                        <div class="flex flex-col gap-2 *:py-2 *:text-center *:px-5 *:bg-slate-200 *:rounded-lg">
                            <div class="">Eisenhauer Matrix</div>
                            <div class="">Carousel</div>
                            <div class="">List</div>
                        </div>
                    </div>
                    <!--End Dropdown select-->
                </div><!--eoSidebar btn-->

            </div>
        </div>
        <!--End Sidebar-->
        <!--########################################################### EoRight sidebar ######################################################################-->



        <!--########################################################### Calendar ######################################################################-->
        <!-- Begin Calendar -->
        <div id="Calendar-Container" class="container hidden">
            <div class="left">
                <div class="calendar">
                    <div class="month">
                        <i class="prev">
                            &lt;</i>
                        <div class="date">december 2015</div>
                        <i class="next">&gt;</i>
                    </div>
                    <div class="weekdays">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                    <div class="days"></div>
                    <div class="goto-today">
                        <div class="goto">
                            <input type="text" placeholder="mm/yyyy" class="date-input" />
                            <button class="goto-btn">Go</button>
                        </div>
                        <button class="today-btn">Today</button>
                    </div>
                </div>
            </div>

            <div class="right">
                <div class="tasks-display">
                    <div class="today-date">
                        <div class="day-and-date">
                            <div class="event-day">wed</div>
                            <div class="event-date">12th december 2022</div>
                        </div>

                        <!-- today-date equivilent to events -->
                        <!-- task-container is equivilent to event -->
                        <!-- this events div call a lot of function, be ware deleted it -->
                        <div class="events"></div>

                        <!-- `<div class="event">
									//       <div class="title">
									//         <i class="fas fa-circle"></i>
									//         <h3 class="event-title">${event.title}</h3>
									//       </div>
									//       <div class="event-time">
									//         <span class="event-time">${event.time}</span>
									//       </div>
									//   </div>` -->

                        <!-- if we click in the event class div it will have delete function available -->

                        <!-- <div class="task-container">
									<div class="time-display">8:30</div>
									<div class="task-information">
										<div class="task-title">đi nhà nghỉ</div>
										<div class="task-description">Không nên nghỉ</div> 
										<div class="tags-display">
											<div class="tag-important">important</div>
											<div class="tag-urgent">urgent</div>
										</div>
									</div>
								</div> -->

                    </div>
                </div>
                <div class="add-event-wrapper">
                    <div class="add-event-header">
                        <div class="title">Add Event</div>
                        <i class="fas fa-times close"></i>
                    </div>
                    <div class="add-event-body">
                        <div class="add-event-input">
                            <input type="text" placeholder="Event Name" class="event-name" />
                        </div>
                        <div class="add-event-input">
                            <input type="text" placeholder="Event Time From" class="event-time-from" />
                        </div>
                        <div class="add-event-input">
                            <input type="text" placeholder="Event Time To" class="event-time-to" />
                        </div>
                        <div class="add-event-input">
                            <input type="text" placeholder="Description" class="event-description" />
                        </div>
                    </div>
                    <div class="add-event-footer">
                        <button class="add-event-btn">Add Event</button>
                    </div>
                </div>
            </div>
            <button class="add-event">
                <i class="fas fa-plus"></i>
            </button>
        </div>
        <script src="../static/js/calendar.js"></script>
        <!-- End Calendar -->
        <!--########################################################### EoCalendar ######################################################################-->



        <!--########################################################### Main Screen ######################################################################-->
        <!--Begin Main screen-->
        <div id="Main-Screen" class="Container bg-transparent overflow-y-scroll py-10">
            <!--Formatter-->
        </div>
        <!--End Main screen-->
        <!--########################################################### EoMain Screen ######################################################################-->




        <div class="Bottom-Bar w-full bg-accent-200 flex justify-between m-0">

        </div>



        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="../static/js/app.js"></script>
        <script src="../static/js/calendar.js"></script>
</body>

</html>