<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

</head>

<body class="overflow-hidden bg-background-main">
    <div class=""> <!--Container-->

        <!--Begin header-->
        <div class="">
            <div class="">
                <div class="flex justify-between items-center bg-shade_green-200 py-2 shadow-lg">
                    <div class="flex justify-evenly items-center gap-2 md:gap-8">
                        <!--button-->
                        <div id="dropMenuClick" class="headbar-button overflow-hidden p-2 mx-2">
                            <svg class="h-full w-full text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                    d="M5 7h14M5 12h14M5 17h10" />
                            </svg>

                        </div>
                        <!--name project-->
                        <div class="flex flex-col justify-center items-start">
                            <div class="">JakeClark Projaaaa </div>
                            <div>List: 09%</div>
                        </div>

                    </div>


                    <div class="lg:flex justify-end items-center p-2 gap-2 hidden ">
                        <div class="font-light text-xl"> The Something Matrix</div>
                        <div class="headbar-button p-1 border-0">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m19 9-7 7-7-7" />
                            </svg>
                        </div>
                    </div>


                    <div class="flex justify-end items-center p-2 gap-2">
                        <div class="headbar-button p-1 border-0">
                            <svg class="h-full w-full text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                    d="M6 12h.01m6 0h.01m5.99 0h.01" />
                            </svg>

                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!--End header-->




        <!-- Dropdown Main menu -->
        <div id="dropMenu" class="dropdown-anim duration-300 h-0 z-10 absolute *:pl-3 flex flex-col items-start w-64 bg-shade_green-200">


            <div class="MMenu-Primary-Section"> <!--block-->
                <div class="flex items-center">
                    <div class="MMenu-Primary-Image-Wrapper">
                        <svg class="w-full h-full text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>

                    <div class="MMenu-Primary-Text">Search</div>
                </div>
            </div><!--eoblock-->
            <div class="MMenu-Primary-Section"> <!--block-->
                <div class="flex items-center">
                    <div class="MMenu-Primary-Image-Wrapper">
                        <svg class="w-full h-full text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>

                    <div class="MMenu-Primary-Text">Today</div>
                </div>
            </div><!--eoblock-->
            <div class="MMenu-Primary-Section"> <!--block-->
                <div class="flex items-center">
                    <div class="MMenu-Primary-Image-Wrapper">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z" />
                        </svg>

                    </div>

                    <div class="MMenu-Primary-Text">Calendar</div>
                </div>
            </div><!--eoblock-->
            <div class="MMenu-Primary-Section"> <!--block-->
                <div class="flex items-center">
                    <div class="MMenu-Primary-Image-Wrapper">
                        <svg class="w-full h-full text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 5.365V3m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175 0 .593 0 1.292-.538 1.292H5.538C5 18 5 17.301 5 16.708c0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 12 5.365ZM8.733 18c.094.852.306 1.54.944 2.112a3.48 3.48 0 0 0 4.646 0c.638-.572 1.236-1.26 1.33-2.112h-6.92Z" />
                        </svg>

                    </div>

                    <div class="MMenu-Primary-Text">Notifications</div>
                </div>
            </div><!--eoblock-->

            <!--Devider and mini menu-->
            <div class="divider flex justify-end border-gray-400 border-t-[1px] border-b-[1px] my-3">
                <div id="MMenu-Group-Add" class="MMenu-Mini-Btn m-2">
                    <svg class="w-full h-full text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 12h14m-7 7V5" />
                    </svg>
                </div>
            </div>
            <!--eo Devider and mini menu-->
            <div id="MMenu-Group-Section" class="MMenu-Group-Section">
                <!--group here-->

            </div>
        </div>
        <!--End Dropdown menu-->

























        <!--Begin selection-->
        <div class="bg-slate-300 bg-opacity-50">
            <div class="flex justify-center items-center gap-3">
                <div class="font-light text-xl"> The Something Matrix</div>
                <div class="headbar-button p-1 border-0" data-dropdown-toggle="drop-matrix-Click"
                    data-dropdown-trigger="click">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 9-7 7-7-7" />
                    </svg>
                </div>

                <!-- Dropdown select-->
                <div id="drop-matrix-Click" class="z-10 hidden p-3 py-5 bg-background-main rounded-xl">
                    <div class="flex flex-col gap-2 *:py-2 *:text-center *:px-5 *:bg-slate-200 *:rounded-lg">
                        <div class="">Eisenhauer Matrix</div>
                        <div class="">Carousel</div>
                        <div class="">List</div>
                    </div>
                </div>
                <!--End Dropdown select-->

            </div>
        </div>
        <!--End Selection-->
        <!--Begin Matrix-->
        <div class="p-6 m-3">
            <div class="">
                <div class="flex flex-col justify-center items-center gap-8 ">
                    <div class="flex gap-4 justify-center items-center">
                        <!--matrix-->
                        <div class="todobox bg-primary-red">
                            <div class="todobox-title">Do:</div>
                            <div class=""></div>
                        </div>
                        <!--box-->

                        <div class="todobox bg-primary-green">
                            <div class="todobox-title">Schedule:</div>
                            <div class=""></div>
                        </div>
                    </div>

                    <div class="flex gap-4 justify-center items-center">
                        <div class="todobox bg-primary-blue">
                            <div class="todobox-title">Delegate:</div>
                            <div class=""></div>
                        </div>
                        <div class="todobox bg-primary-yellow">
                            <div class="todobox-title">Delete:</div>
                            <div class=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Matrix-->
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../static/js/app.js"></script>
</body>

</html>