<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Reddit+Mono:wght@200..900&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../static/js/appteam.js" type="module" async></script>
    <script async src="../static/js/list.js" type="module"></script>
</head>

<body class="overflow-hidden bg-bg4 bg-cover bg-center *:transition-colors">



    <!--########################################################### Main Screen ######################################################################-->
    <!--Begin Main screen  ""backdrop-blur-sm" -->
    <div class="Container backdrop-blur-sm py-10 h-70vh overflow-y-scroll overflow-x-hidden ">
        <div id=""
            class="justify-items-center  rounded-2xl m-auto bg-main h-[70vh] w-5/6 lg:w-4/5  dark:bg-gray-700 shadow-lg">
            <section id="teampage"> <!--Team page-->
                <div id="pageheader"
                    class="w-full sm:max-w-md md:max-w-screen-lg lg:max-w-7xl flex justify-between pl-6 pr-2 py-3 border-b-2">

                    <div class="flex flex-row justify-start items-center h-12 w-9/12 gap-2 ">
                        <button id="changetojoin"
                            class="w-fit h-full text-gray-800 dark:text-white text-lg dark:hover:bg-gray-600 px-4 font-semibold hover:shadow-lg rounded-lg">Joined
                        </button>
                        <button id="changetocreate"
                            class="w-fit h-full text-gray-400 text-lg dark:text-white dark:hover:bg-gray-600 px-4 font-semibold hover:shadow-lg rounded-lg">Created</button>
                    </div>

                    <div class=" flex self-center px-2">
                        <button id="createandjoin" type="button"
                            class="text-blue-700 border font-bold p-1 shadow-md border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-xl rounded-full text-sm h-8 w-8 md:w-32  text-center flex items-center justify-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500 ">

                            <svg class="w-full h-full md:hidden text-gray-800 dark:text-main" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="1.5" d="M5 12h14m-7 7V5" />
                            </svg>

                            <p class="hidden md:flex">Create/Join team</p>
                        </button>
                    </div>
                </div>

                <div id="teamlist"
                    class="lg:grid flex flex-col pl-1 mx-2 md:mx-0 md:pl-0 justify-items-center lg:grid-cols-2 h-[58vh] lg:h-fit lg:grid-flow-row lg:justify-items-center sm:justify-items-center md:justify-items-start  overflow-y-scroll overflow-x-hidden">
                    <div
                        class="flex self-center sm:w-5/6 md:w-3/4 lg:w-4/5 sm:max-w-md md:max-w-xl lg:max-w-screen-xl  h-fit my-3 md:ml-8 lg:ml-0 border-2 rounded-lg  ">
                        <div class="inline-block  self-center border-2 rounded-full mx-4 ">
                            <img class="w-10 h-10 rounded-full" src="/static/images/profile.jpg" alt="avtr">
                        </div>
                        <div class="inline-block grow mr-2  ">
                            <p>Team name</p>
                            <p>Code</p>
                        </div>
                        <div class="inline-block justify-self-end self-center mr-4">
                            <button id="dropdownMenuIconButton" data-dropdown-toggle="dropdownDots"
                                class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                                type="button">
                                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" viewBox="0 0 4 15">
                                    <path
                                        d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" />
                                </svg>
                            </button>

                            <!-- Dropdown menu -->
                            <div id="dropdownDots"
                                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                                    aria-labelledby="dropdownMenuIconButton">
                                    <li>
                                        <a href="#"
                                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                                    </li>
                                    <li>
                                        <a href="#"
                                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Delete
                                        </a>
                                    </li>
                                </ul>

                            </div>


                        </div>
                    </div>
                </div>

                <div id="teamlist2"
                    class=" lg:grid flex flex-col pl-1 mx-2 md:mx-0 md:pl-0   lg:grid-cols-2 h-[58vh] lg:h-fit  lg:grid-flow-row lg:justify-items-center md:justify-items-start overflow-y-scroll overflow-x-hidden ">


                    <div
                        class="flex self-center sm:w-5/6 md:w-3/4 lg:w-4/5 sm:max-w-md md:max-w-xl lg:max-w-screen-xl  h-fit my-3 md:ml-8 lg:ml-0 border-2 rounded-lg  ">
                        <div class="inline-block  self-center border-2 rounded-full mx-4 ">
                            <img class="w-10 h-10 rounded-full" src="/static/images/profile.jpg" alt="avtr">
                        </div>
                        <div class="inline-block grow mr-2  ">
                            <p>Team name 1</p>
                            <p>Code</p>
                        </div>
                        <div class="inline-block justify-self-end self-center mr-4">
                            <button id="dropdownMenuIconButton" data-dropdown-toggle="dropdownDots"
                                class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                                type="button">
                                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" viewBox="0 0 4 15">
                                    <path
                                        d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" />
                                </svg>
                            </button>

                            <!-- Dropdown menu -->
                            <div id="dropdownDots"
                                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                                    aria-labelledby="dropdownMenuIconButton">
                                    <li>
                                        <a href="#"
                                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                                    </li>
                                    <li>
                                        <a href="#"
                                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Delete
                                            team</a>
                                    </li>
                                </ul>

                            </div>


                        </div>
                    </div>




                </div>
            </section>

            <script>
                $(document).ready(function () {
                    $("#teamlist2").hide();
                    $("#changetojoin").click(function () {
                        $("#teamlist").show();
                        $("#teamlist2").hide();
                        $(this).addClass("text-gray-800");
                        $(this).addClass("dark:text-white");
                        $("#changetocreate").addClass("text-gray-400");
                        $(this).removeClass("text-gray-400");
                        $("#changetocreate").removeClass("text-gray-800");
                        $("#changetocreate").removeClass("dark:text-white");
                    });
                    $("#changetocreate").click(function () {
                        $("#teamlist").hide();
                        $("#teamlist2").show();
                        $("#changetojoin").addClass("text-gray-400");
                        $(this).addClass("text-gray-800");
                        $(this).addClass("dark:text-white");
                        $("#changetojoin").removeClass("text-gray-800");
                        $(this).removeClass("text-gray-400");
                        $("#changetojoin").removeClass("dark:text-white");
                    });
                }) 
            </script>

            <section id="teamcreate_join" class="hidden  "> <!--Team create and join-->
                <div class=" xl:hidden ">
                    <!--teampage main screen-->
                    <div class=" flex items-center  justify-around h-14 w-full border-b-2 border-gray-500   ">
                        <p class="text-xl font-bold dark:text-white"> Join or create</p>
                        <button id="backbtn" class="text-lg dark:text-white">
                            <div class="flex gap-1  items-center  justify-around">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M3 9h13a5 5 0 0 1 0 10H7M3 9l4-4M3 9l4 4" />
                                </svg>
                                <div>Back</div>
                            </div>
                        </button>
                    </div>

                    <!-- screen for Join and create   -->
                    <div class=" flex flex-col items-center h-[70vh] w-full  ">
                        <div class="flex flex-row justify-evenly items-center h-12 w-72 ">
                            <button id="Jointeam" class="w-1/2 h-full text-gray-800 "> Join
                            </button>
                            <button id="Createteam" class="w-1/2 h-full text-gray-400"> Create
                            </button>
                        </div>
                        <!-- join form -->
                        <div id="joinform" class="  w-full ">
                            <div
                                class="py-20 bg-white shadow-inner  shadow-gray-300 flex flex-col justify-center  items-center h-full w-full rounded-b-2xl   ">
                                <div
                                    class="bg-white shadow-inner     shadow-gray-300 flex flex-col justify-center  items-center h-full w-full mx-10 rounded-b-2xl">
                                    <image src="../static/images/Createteam.png" alt="Create a team"
                                        class=" flex w-24 h-24 my-2">
                                        <p class="flex font-bold text-2xl my-2 ">Join team with code</p>
                                        <button id="join"
                                            class=" h-12 w-1/3  rounded-xl shadow-2xl bg-blue-400 my-4 font-bold text-lg   ">
                                            Join</button>
                                </div>
                            </div>
                        </div>
                        <!-- end join form -->

                        <!-- create form -->
                        <div id="creteform" class="hidden  w-full">
                            <div
                                class=" py-20 bg-white shadow-inner  shadow-gray-300 flex flex-col justify-center  items-center h-full w-full rounded-b-2xl  ">
                                <div
                                    class="bg-white shadow-inner     shadow-gray-300 flex flex-col justify-center  items-center h-full w-full mx-10 rounded-b-2xl">
                                    <image src="../static/images/Createteam.png" alt="Create a team"
                                        class=" flex w-24 h-24 my-2">
                                        <p class="flex font-bold text-2xl my-2 ">Create team</p>
                                        <button id="create"
                                            class=" h-12 w-1/3  rounded-xl shadow-2xl bg-blue-400 my-4 font-bold text-lg   ">
                                            Create</button>
                                </div>

                            </div>
                        </div>
                        <!-- end Create form -->
                    </div>
                </div>

                <!-- end team page of android   -->

                <script>
                    $(document).ready(function () {
                        $("#Jointeam").click(function () {
                            $("#joinform").removeClass("hidden");
                            $("#creteform").addClass("hidden");
                            $(this).addClass("text-gray-800");
                            $(this).addClass("dark:text-white");
                            $("#Createteam").addClass("text-gray-400");
                            $(this).removeClass("text-gray-400");
                            $("#Createteam").removeClass("text-gray-800");
                            $("#Createteam").removeClass("dark:text-white");
                        });
                        $("#Createteam").click(function () {
                            $("#joinform").addClass("hidden");
                            $("#creteform").removeClass("hidden");
                            $("#Jointeam").addClass("text-gray-400");
                            $(this).addClass("text-gray-800");
                            $(this).addClass("dark:text-white");
                            $("#Jointeam").removeClass("text-gray-800");
                            $(this).removeClass("text-gray-400");
                            $("#Jointeam").removeClass("dark:text-white");
                        });
                    }) 
                </script>
                <!-- end -->
                <!-- team page for window -->
                <div class=" hidden xl:flex flex-col  h-full  w-full  ">
                    <div class=" flex flex-row justify-between items-center px-20 h-16 w-full font-bold  ">
                        <p class="text-3xl dark:text-white"> Join or create team</p>
                        <button id="backbtn" class="text-lg dark:text-white">
                            <div class="flex gap-1  items-center  justify-around">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M3 9h13a5 5 0 0 1 0 10H7M3 9l4-4M3 9l4 4" />
                                </svg>
                                <div>Back</div>
                            </div>
                        </button>
                    </div>
                    <!-- window for Crete and Join team -->
                    <div class="flex flex-row justify-center items-center h-[60vh] w-full">
                        <div
                            class="bg-white shadow-inner rounded-2xl    shadow-gray-300 flex flex-col justify-center  items-center h-5/6 w-2/5 mx-10">
                            <image src="../static/images/Createteam.png" alt="Create a team"
                                class=" flex w-24 h-24 my-2">
                                <p class="flex font-bold text-2xl my-2 ">Create team</p>
                                <button id="create1"
                                    class=" h-12 w-1/3  rounded-xl shadow-2xl bg-blue-400 my-4 font-bold text-lg   ">
                                    Create</button>
                        </div>
                        <div
                            class="bg-white shadow-inner rounded-2xl  shadow-gray-300 flex flex-col justify-center  items-center h-5/6 w-2/5 mx-10">

                            <image src="../static/images/Createteam.png" alt="Create a team"
                                class=" flex w-24 h-24 my-2">
                                <p class="flex font-bold text-2xl my-2 ">Join team with code</p>
                                <button id="join1"
                                    class=" h-12 w-1/3  rounded-xl shadow-2xl bg-blue-400 my-4 font-bold text-lg   ">
                                    Join</button>

                        </div>
                    </div>


                </div>
            </section>

        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</body>

</html>