<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Reddit+Mono:wght@200..900&display=swap"
        rel="stylesheet">
    <title>Team</title>
</head>

<body class="overflow-hidden bg-bg4 bg-cover bg-center *:transition-all *:duration-300 *:ease-in-out *:delay-75">



    <!--########################################################### Addons ######################################################################-->

    <!-- Main modal  -->
    <div id="crud-modal" tabindex="-1" aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-main rounded-lg dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-2 md:p-4 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                        Create Task
                    </h3>
                    <!-- close btn -->
                    <button id="btn-close-modal" type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form class="p-4 md:p-5">
                    <div class="grid gap-4 mb-4 grid-cols-2">
                        <div id="name-sec" class="col-span-2">
                            <label for="name"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
                            <input type="text" name="name" id="name"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Type todo title" required="" maxlength="128">
                        </div>
                        <div id="desc-sec" class="col-span-2">
                            <label for="description"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Task
                                Description</label>
                            <textarea id="description" rows="4"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 resize-none"
                                placeholder="Write task description here" maxlength="256"></textarea>
                        </div>
                        <div id="todo-expired-sec" class="col-span-2">
                            <label for="todo-expired"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Expired
                                Time</label>
                            <input type="datetime-local" name="" id="todo-expired"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required="">
                        </div>

                        <div id="groups-sec" class="col-span-2 sm:col-span-1">
                            <label for="groups"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Group</label>
                            <select id="groups"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                required="">
                                <option>Select group</option>
                                <!-- Dynamic JS options here -->
                            </select>
                        </div>

                        <div id="tags-sec" class="col-span-2 sm:col-span-1">
                            <label for="tags"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tag</label>
                            <select id="tags"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                required="">
                                <option>Select tag</option>
                                <!-- Dynamic JS options here -->
                            </select>
                        </div>

                        <div id="colors-sec" class="col-span-2 sm:col-span-1">
                            <label for="colors"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Color</label>
                            <input id="colors" type="color"
                                class="bg-gray-50 border border-gray-300 p-1 h-[2.65rem]  w-20 rounded-lg focus:ring-primary-500 focus:border-primary-500 block dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        </div>

                        <div id="warn-sec" class="col-span-2">
                            <div id="warn" class="block mb-2 text-sm font-medium text-red-400">Warning</div>
                        </div>

                    </div>
                    <!-- Honeypot for Form Anti-spam, also holding task ID https://stackoverflow.com/questions/36227376/better-honeypot-implementation-form-anti-spam (TODO: Remove this link when production) -->
                    <input type="checkbox" name="contact_me_by_phone_number" id="task_" value="1" class="!hidden"
                        autocomplete="off" tabindex="-1">
                    <div class="col-span-2 flex justify-between">
                        <button id="submit-sec" type="button"
                            class="text-white inline-flex items-center bg-green-500 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
                            <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            Create
                        </button>

                        <!--Delete btn-->
                        <button id="delete-sec" type="button"
                            class="text-white inline-flex items-center bg-red-500 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
                            <svg class="me-1 -ms-1 w-5 h-5 text-white dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z" />
                            </svg>

                            Delete
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--eoModal -->


    <!-- Main modal  -->
    <div id="crud-modal2" tabindex="-1" aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-main rounded-lg dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-2 md:p-4 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                        Create Task
                    </h3>
                    <!-- close btn -->
                    <button id="btn-close-modal" type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form class="p-4 md:p-5">
                    <div class="grid gap-4 mb-4 grid-cols-2">
                        <div id="code-sec" class="col-span-2">
                            <label for="teamcode"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Team's code</label>
                            <input type="text" name="teamcode" id="teamcode"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Code" required="" maxlength="128">
                        </div>

                        <div id="teamname-sec" class="col-span-2">
                            <label for="teamname"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Team's name
                            </label>
                            <input type="text" name="teamname" id="teamname"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Type your team name" required="" maxlength="128">
                        </div>
                        <div id="teamdesc-sec" class="col-span-2">
                            <label for="teamdescription"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Team
                                Description</label>
                            <textarea id="teamdescription" rows="4"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 resize-none"
                                placeholder="Write team description here" maxlength="256"></textarea>
                        </div>
                    </div>
                    <!-- Honeypot for Form Anti-spam, also holding task ID https://stackoverflow.com/questions/36227376/better-honeypot-implementation-form-anti-spam (TODO: Remove this link when production) -->
                    <input type="checkbox" name="contact_me_by_phone_number" id="task_" value="1" class="!hidden"
                        autocomplete="off" tabindex="-1">
                    <div class="col-span-2 flex justify-around">
                        <!--join btn-->
                        <button id="Join-sec" type="button"
                            class="text-white inline-flex items-center bg-primary-200 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-primary-200 dark:focus:ring-blue-800">
                            Jointeam
                        </button>
                        <button id="save-sec" type="button"
                            class="text-white inline-flex items-center bg-primary-200 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-primary-200 dark:focus:ring-blue-800">
                            Save
                        </button>
                        <button id="delete-sec" type="button"
                            class="text-white inline-flex items-center bg-primary-200 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-primary-200 dark:focus:ring-blue-800">
                            Delete
                        </button>
                        <button id="Create-sec" type="button"
                            class="text-white inline-flex items-center bg-primary-200 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-primary-200 dark:focus:ring-blue-800">
                            <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--eoModal -->



    <!--########################################################### EoAddons ######################################################################-->

    <div class="bg-main/25 dark:bg-gray-700/70 overflow-hidden"> <!--Body Container-->
        <!--Begin header-->

        <!--########################################################### NavBar ######################################################################-->
        <div id="NavBar"
            class="flex justify-between items-center shadow-xl bg-white dark:bg-gray-700 py-0 pt-2 h-16 lg:h-18 lg:py-2 ">
            <div class="flex justify-evenly items-center md:gap-4">
                <!--button-->
                <div id="Main-Menu-Click"
                    class="transform transition-all duration-200 ease-in-out headbar-button overflow-hidden py-2 ml-2 hover:bg-main/35">
                    <svg class="h-full w-full text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                            d="M5 7h14M5 12h14M5 17h10" />
                    </svg>
                </div>

                <div id="Team-Menu-Click"
                    class="flex md:w-40   transform transition-all duration-200 ease-in-out headbar-button overflow-hidden py-2 gap-2 hover:bg-main/35">
                    <svg class="ml-3 scale-100 md:scale-150 w-fit h-full text-gray-800 dark:text-white"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="30" fill="none"
                        viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M11 9h6m-6 3h6m-6 3h6M6.996 9h.01m-.01 3h.01m-.01 3h.01M4 5h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Z" />
                    </svg>
                    <div
                        class="hidden md:inline-block w-40 text-gray-800 dark:text-white text-left font-medium text-base">
                        Teams list</div>
                </div>

            </div>

            <div id="clock" class="hidden lg:inline-block text-xl text-center font-[Lato] dark:text-main"></div>

            <div class="flex justify-end items-center p-2 gap-2 ">

                <div id="Team-Code-Dis"
                    class="hidden transition-all h-12 text-center duration-200 ease-in-out p-2 w-24 truncate md:w-28 text-md md:text-lg rounded-lg hover:bg-main/35 text-gray-800 dark:text-main ">
                    ID: ______
                </div>

                <div id="UserList-Toggle"
                    class="hidden headbar-button flex justify-center items-center  p-2 mx-2 border-0 hover:bg-main/35">

                    <svg class="w-full h-full text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="1.5"
                            d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z" />
                    </svg>

                </div>

                <div id="Avatar-Menu-Click"
                    class="headbar-button p-1 border-2 rounded-full cursor-pointer hover:bg-main/35">
                    <img id="Avatar-Image" class="w-full h-full rounded-full" src="/static/images/profile.jpg"
                        alt="avtr">
                </div>
            </div>
        </div>
        <!--End header-->
        <!--########################################################### EoNavBar ######################################################################-->



        <!--########################################################### Profile Dropdown ######################################################################-->
        <!-- Dropdown menu -->
        <div id="Avatar-Menu"
            class="dropdown-anim duration-300 z-10 absolute right-3 h-0 w-56 lg:w-60 overflow-hidden bg-main rounded-b-lg shadow-xl dark:bg-gray-700">


            <a href="{{url_for('profiles.profile',type=session['type'])}}">
                <div id="PMenu-Profile" class="PMenu-Primary-Section"> <!--block-->
                    <div class="flex items-center">
                        <div class="PMenu-Primary-Image-Wrapper">
                            <svg class="w-full h-full text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-width="2"
                                    d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                        </div>
                        <div class="PMenu-Primary-Text">Profile</div>
                    </div>
                </div>
            </a><!--eoblock-->

            <div id="PMenu-UserSett" class="PMenu-Primary-Section hidden"> <!--block-->
                <div class="flex items-center">
                    <div class="PMenu-Primary-Image-Wrapper">
                        <svg class="w-full h-full text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 13v-2a1 1 0 0 0-1-1h-.757l-.707-1.707.535-.536a1 1 0 0 0 0-1.414l-1.414-1.414a1 1 0 0 0-1.414 0l-.536.535L14 4.757V4a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v.757l-1.707.707-.536-.535a1 1 0 0 0-1.414 0L4.929 6.343a1 1 0 0 0 0 1.414l.536.536L4.757 10H4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h.757l.707 1.707-.535.536a1 1 0 0 0 0 1.414l1.414 1.414a1 1 0 0 0 1.414 0l.536-.535 1.707.707V20a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.757l1.707-.708.536.536a1 1 0 0 0 1.414 0l1.414-1.414a1 1 0 0 0 0-1.414l-.535-.536.707-1.707H20a1 1 0 0 0 1-1Z" />
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                        </svg>
                    </div>

                    <div class="PMenu-Primary-Text">User settings</div>
                </div>
            </div><!--eoblock-->
            <div id="PMenu-DarkMode" class="PMenu-Primary-Section"> <!--block-->
                <div class="flex items-center">
                    <div class="PMenu-Primary-Image-Wrapper">
                        <svg class="w-full h-full text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 21a9 9 0 0 1-.5-17.986V3c-.354.966-.5 1.911-.5 3a9 9 0 0 0 9 9c.239 0 .254.018.488 0A9.004 9.004 0 0 1 12 21Z" />
                        </svg>

                    </div>
                    <div class="PMenu-Primary-Text">Dark mode</div>
                    <label class="inline-flex items-center cursor-pointer px-3">
                        <input id="Toggle-DarkMode" type="checkbox" value="" class="sr-only peer">
                        <div
                            class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-blue-500 peer-checked:bg-green-500">
                        </div>
                    </label>
                </div>
            </div><!--eoblock-->

            <div id="PMenu-Logout" class="PMenu-Primary-Section"> <!--block-->
                <a href="{{url_for('auth.logout')}}">
                    <button>
                        <div class="flex items-center">
                            <div class="PMenu-Primary-Image-Wrapper">
                                <svg class="h-full w-full text-gray-800 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="1.5"
                                        d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2" />
                                </svg>
                            </div>
                            <div class="PMenu-Primary-Text">Log out</div>
                        </div>
                    </button>
                </a>
            </div><!--eoblock-->
            <div id="PMenu-Coin" class="PMenu-Primary-Section"> <!--block-->
                <div class="flex items-center">
                    <div class="PMenu-Primary-Image-Wrapper">
                        <img class="w-full h-full" src="../static/images/tree_game/JackpotCoin.png" class="" alt="coin">
                    </div>
                    <div id="PMenu-Display-Coin" class="PMenu-Primary-Text truncate">Coins: 999</div>
                </div>
            </div><!--eoblock-->
        </div>
        <!--########################################################### EoProfile Dropdown ######################################################################-->



        <!--########################################################### Dropdown Main Menu ######################################################################-->

        <!-- Dropdown Main menu -->
        <div id="Main-Menu"
            class="dropdown-anim duration-300 h-0 z-10 absolute items-start w-56 lg:w-64 bg-main dark:bg-gray-700 shadow-xl overflow-hidden  rounded-br-xl">

            <div id="MMenu-Search" class="MMenu-Primary-Section mt-4">
                <div class="flex items-center">
                    <div id="Begin-Search" class="MMenu-Primary-Image-Wrapper">
                        <svg class="w-6 lg:w-7 h-6 lg:h-7 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>

                    <div class="p-2 flex items-center">
                        <textarea name="SearchBox" id="SearchBox"
                            class="MMenu-Primary-Text bg-main rounded-xl border-0 text-left resize-none w-full" rows="1"
                            placeholder="Search" style="color: black;"></textarea>
                    </div>
                </div>
            </div>

            <div id="MMenu-Today" class="MMenu-Primary-Section"
                onclick="window.location.href=`{{url_for('todo.main_page')}}`"> <!--block-->
                <div class="flex items-center">
                    <div class="MMenu-Primary-Image-Wrapper">
                        <svg class="w-6 lg:w-7 h-6 lg:h-7 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8 7H5a2 2 0 0 0-2 2v4m5-6h8M8 7V5a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2m0 0h3a2 2 0 0 1 2 2v4m0 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-6m18 0s-4 2-9 2-9-2-9-2m9-2h.01" />
                        </svg>

                    </div>

                    <div class="MMenu-Primary-Text">Today</div>
                </div>
            </div><!--eoblock-->

            <div id="MMenu-Calendar" class="MMenu-Primary-Section"
                onclick="window.location.href=`{{url_for('calendar.calendar_page')}}`"> <!--block-->
                <div class="flex items-center">
                    <div class="MMenu-Primary-Image-Wrapper">
                        <svg class="w-6 lg:w-7 h-6 lg:h-7 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z" />
                        </svg>

                    </div>

                    <div class="MMenu-Primary-Text">Calendar</div>
                </div>
            </div><!--eoblock-->

            <div id="MMenu-Team" class="MMenu-Primary-Section"> <!--block-->
                <div class="flex items-center">
                    <div class="MMenu-Primary-Image-Wrapper">
                        <svg class="w-full h-full text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="1.5"
                                d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z" />
                        </svg>
                    </div>
                    <div class="MMenu-Primary-Text">Team</div>
                </div>
            </div><!--eoblock-->

            <div id="MMenu-Garden" class="MMenu-Primary-Section"
                onclick="window.location.href=`{{url_for('game.treePage_init')}}`"> <!--block-->
                <div class="flex items-center">
                    <div class="MMenu-Primary-Image-Wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="w-6 lg:w-7 h-6 lg:h-7 text-gray-800 dark:text-white" aria-hidden="true"
                            viewBox="0 0 512 512" width="24" height="24"
                            fill="currentColor"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                            <path
                                d="M272 96c-78.6 0-145.1 51.5-167.7 122.5c33.6-17 71.5-26.5 111.7-26.5h88c8.8 0 16 7.2 16 16s-7.2 16-16 16H288 216s0 0 0 0c-16.6 0-32.7 1.9-48.3 5.4c-25.9 5.9-49.9 16.4-71.4 30.7c0 0 0 0 0 0C38.3 298.8 0 364.9 0 440v16c0 13.3 10.7 24 24 24s24-10.7 24-24V440c0-48.7 20.7-92.5 53.8-123.2C121.6 392.3 190.3 448 272 448l1 0c132.1-.7 239-130.9 239-291.4c0-42.6-7.5-83.1-21.1-119.6c-2.6-6.9-12.7-6.6-16.2-.1C455.9 72.1 418.7 96 376 96L272 96z" />
                        </svg>
                    </div>
                    <div class="MMenu-Primary-Text">My Garden</div>
                </div>
            </div><!--eoblock-->

            <div id="MMenu-Group-Add"
                class="MMenu-Primary-Section border-t-[1px] border-b-[1px] border-yellow-700 justify-between pl-3">
                <!--block-->
                <div class="MMenu-Primary-Text">Add Group</div>
                <div class="flex items-center justify-end">
                    <div class="MMenu-Primary-Image-Wrapper">
                        <svg class="w-6 lg:w-7 h-6 lg:h-7 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 12h14m-7 7V5" />
                        </svg>
                    </div>
                </div>
            </div><!--eoblock-->

            <div id="MMenu-Group-Section" class="relative MMenu-Group-Section overflow-y-scroll py-5 max-h-[95%]">
                <!--group here-->
            </div>
        </div>
        <!--End Dropdown menu-->
        <!--########################################################### EoDropdown Main Menu ######################################################################-->



        <!--########################################################### Dropdown Mode ######################################################################-->
        <!-- Dropdown menu -->
        <div id="Mode-Menu"
            class="dropdown-anim duration-300 z-10 absolute right-10 h-0 w-52 lg:w-60 overflow-hidden bg-main rounded-b-lg shadow-xl dark:bg-gray-700">

            <div id="ModeMenu-Profile" class="ModeMenu-Primary-Section"> <!--block-->
                <div class="flex items-center">
                    <div class="ModeMenu-Primary-Image-Wrapper">
                        <svg class="w-full h-full text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9.143 4H4.857A.857.857 0 0 0 4 4.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 10 9.143V4.857A.857.857 0 0 0 9.143 4Zm10 0h-4.286a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 20 9.143V4.857A.857.857 0 0 0 19.143 4Zm-10 10H4.857a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286a.857.857 0 0 0 .857-.857v-4.286A.857.857 0 0 0 9.143 14Zm10 0h-4.286a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286a.857.857 0 0 0 .857-.857v-4.286a.857.857 0 0 0-.857-.857Z" />
                        </svg>

                    </div>

                    <div class="ModeMenu-Primary-Text">Grid</div>
                </div>
            </div><!--eoblock-->


        </div>

        <!--########################################################### EoDropdown Mode ######################################################################-->


        <div id="Alert-Screen"
            class="absolute z-40 flex flex-col bg-red-500 justify-end  gap-1 items-end right-1 bottom-5 bg-transparent overflow-hidden">
            <!--Alerts here-->
        </div>


        <!--########################################################### Main Screen ######################################################################-->
        <div id="CreateAndJoinTeam" class="Container backdrop-blur-sm py-5 overflow-hidden h-screen">

        </div>
        <!--########################################################### EoMain Screen ######################################################################-->
        <div id="Main-Section" class="flex">
            <!--Begin Main screen-->
            <div id="Main-Screen"
                class="w-full inline-block backdrop-blur-sm py-10 h-screen overflow-y-scroll overflow-x-hidden">
                <!-- Dynamic draggable button here -->
                <div id="Main-Formatter" class="relative w-full">
                    <div id="Wrapper" class="relative flex flex-wrap justify-center items-center gap-8 py-10 lg:px-36">
                        <!--Group-->
                        <div class="group-outer">
                            <div id="Task-Section-Outer"
                                class="bg-main dark:bg-gray-500 animate-pulse pt-4 p-2 overflow-hidden shadow-xl hover:shadow-2xl rounded-xl ">
                                <div id="Task-Section"
                                    class="relative px-2 pb-9 flex flex-col gap-3 overflow-y-auto overflow-x-hidden rounded-xl w-72 h-72 lg:w-96 lg:h-96">
                                    <!--task here-->
                                </div>
                            </div>
                        </div>
                        <div class="group-outer">
                            <div id="Task-Section-Outer"
                                class="bg-main dark:bg-gray-500 animate-pulse pt-4 p-2 overflow-hidden shadow-xl hover:shadow-2xl rounded-xl ">
                                <div id="Task-Section"
                                    class="relative px-2 pb-9 flex flex-col gap-3 overflow-y-auto overflow-x-hidden rounded-xl w-72 h-72 lg:w-96 lg:h-96">
                                    <!--task here-->
                                </div>
                            </div>
                        </div>
                        <div class="group-outer">
                            <div id="Task-Section-Outer"
                                class="bg-main dark:bg-gray-500 animate-pulse pt-4 p-2 overflow-hidden shadow-xl hover:shadow-2xl rounded-xl ">
                                <div id="Task-Section"
                                    class="relative px-2 pb-9 flex flex-col gap-3 overflow-y-auto overflow-x-hidden rounded-xl w-72 h-72 lg:w-96 lg:h-96">
                                    <!--task here-->
                                </div>
                            </div>
                        </div>
                        <div class="group-outer">
                            <div id="Task-Section-Outer"
                                class="bg-main dark:bg-gray-500 animate-pulse pt-4 p-2 overflow-hidden shadow-xl hover:shadow-2xl rounded-xl ">
                                <div id="Task-Section"
                                    class="relative px-2 pb-9 flex flex-col gap-3 overflow-y-auto overflow-x-hidden rounded-xl w-72 h-72 lg:w-96 lg:h-96">
                                    <!--task here-->
                                </div>
                            </div>
                        </div>
                        <!--Formatter-->
                    </div>
                </div>
            </div>


            <!--eochat -->
            <!-- UserList  -->
            <div id="UserList-Section"
                class="hidden w-full xl:w-1/3 h-[90vh] bg-main dark:bg-gray-500 flex flex-col overflow-hidden">
                <div class="">

                    <div id="UserList-wrapper" class="chat-wrapper p-4 flex flex-col justify-center items-start">
                        <div class="w-full flex items-center justify-between px-2">
                            <h1 class="text-lg font-semibold text-gray-800 dark:text-white">UserList</h1>
                        </div>
                        <div id="ListUser"
                            class="user_list h-[80vh]   p-4 mb-4 w-full mt-1 rounded-lg bg-gray-300/50 overflow-x-hidden overflow-y-scroll ">
                            <!--User here-->
                            <div
                                class="p-2 flex h-12 w-full md:w-4/6 lg:w-full bg-gray-300/50  my-1  border-2 rounded-lg gap-3">
                                <div class="flex-none self-center w-8 h-8 ">
                                    <img class=" w-full h-full  rounded-full" src="/static/images/profile.jpg"
                                        alt="avtr">
                                </div>
                                <div class="flex-1 self-center  mr-2 overflow-hidden">
                                    <p id="" class="dark:text-gray-500 text-black text-lg text-nowrap">hồ nguyên trân
                                        minh Phong</p>
                                </div>
                                <div class=" flex-none  justify-end self-center  ">
                                    <button id="ban-user"
                                        class="banuser bg-white inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-900 rounded-lg
                                    hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                                        type="button">
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                            viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                                        </svg>

                                    </button>
                                </div>
                            </div>
                            <!--eolist-->
                        </div>



                    </div>
                </div>
            </div>
            <!-- eoList -->
        </div>
        <!--End Main screen-->
        <!--########################################################### EoMain Screen ######################################################################-->




        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="../static/js/appteam.js" type="module" async></script>
        <script src="../static/js/fuzzySearchLib.js"></script>
        <script>
            $("#CreateAndJoinTeam").load("teamJoinCreatePage.html");
            $('#Main-Section').hide();
            $('#MMenu-Group-Section').hide();
            $('#MMenu-Group-Add').hide();
            $('#Team-Menu-Click').hide();
        </script>
</body>

</html>