<div id="Avatar-Section" class="my-5 right-0 order-2">
  <div class="text-sm font-bold mb-2">Profile picture</div>
  <div id="Avatar-Menu-Profile" class="w-[150px] p-1 border-2 rounded-full cursor-pointer hover:bg-main/35 relative">
      <div id="Avatar-Edit-Button" class="absolute bg-white rounded-lg text-xs px-2 py-1 flex justify-center items-center bottom-1 border-2 border-gray-200">
          <svg aria-hidden="true" height="12" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-pencil">
              <path d="M11.013 1.427a1.75 1.75 0 0 1 2.474 0l1.086 1.086a1.75 1.75 0 0 1 0 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 0 1-.927-.928l.929-3.25c.081-.286.235-.547.445-.758l8.61-8.61Zm.176 4.823L9.75 4.81l-6.286 6.287a.253.253 0 0 0-.064.108l-.558 1.953 1.953-.558a.253.253 0 0 0 .108-.064Zm1.238-3.763a.25.25 0 0 0-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 0 0 0-.354Z"></path>
          </svg>
          Edit
      </div>
      <img class="w-full h-full rounded-full" src="/static/images/profile.jpg" alt="avtr">
  </div>
  <details-menu id="Drop-Down-Options-Profile" class="hidden" role="menu">
      <label for="avatar_upload" class="dropdown-item text-normal" style="cursor: pointer;" role="menuitem" tabindex="0">
          Upload a photo…
      </label>
      <form data-turbo="false" action="/settings/primary_avatar" accept-charset="UTF-8" method="post">
          <input type="hidden" name="_method" value="delete" autocomplete="off">
          <button onclick="return confirm('Are you sure you want to remove the photo?')">
              Remove photo
          </button>
      </form>
  </details-menu>
</div>