<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="../static/css/main.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"
		integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Reddit+Mono:wght@200..900&display=swap"
		rel="stylesheet" />
	<!-- pixel font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

	<!-- pixel font -->
</head>

<body class="">

	<!--########################################################### Begin of Addons ######################################################################-->
	<!-- Shop modal -->
	<div id="ShopModal" tabindex="-1" aria-hidden="true"
		class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
		<div class="relative p-4 w-full max-w-md max-h-full">
			<!-- Shop content -->
			<div class="relative bg-main rounded-lg dark:bg-gray-700">
				<!-- Shop header -->
				<div class="flex items-center justify-between p-2 md:p-4 border-b rounded-t dark:border-gray-600">
					<h3 class="text-lg font-semibold text-gray-900 dark:text-white">
						Shop
					</h3>
					<!-- close btn -->
					<button id="btn-close-shop-modal" type="button"
						class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
						<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
							viewBox="0 0 14 14">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
						</svg>
						<span class="sr-only">Close modal</span>
					</button>
				</div>
				<!-- Shop body -->
				<div class="p-4 md:p-5">
					<!-- Coin display -->
					<div class="flex items-center justify-between mb-4">
						<span class="text-sm font-medium text-gray-900 dark:text-white">Coins:</span>
						<span id="coin-display" class="text-sm font-medium text-gray-900 dark:text-white">0</span>
					</div>

					<!-- Shop image -->
					<img src="../static/images/shop/shop-background.png" alt="Shop Image"
						class="mb-4 rounded-lg w-full">

					<!-- Fertilize quantity selector -->
					<div class="flex items-center justify-between mb-4">
						<div class="flex items-center justify-between">
							<label>Fertilizer</label>
							<img src="../static/images/tree_game/fertilizer-opened.png" alt="Fertilize"
								class="w-20 rounded-lg">
						</div>

						<div class="flex items-center justify-between">
							<button id="fertilize-decrease" type="button"
								class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
								<svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
									viewBox="0 0 24 24">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
										stroke-width="2" d="M20 12H4" />
								</svg>
							</button>
							<input id="fertilize-quantity" type="number" min="0" value="0"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-32 p-2.5 text-center dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
							<button id="fertilize-increase" type="button"
								class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
								<svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
									viewBox="0 0 24 24">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
										stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
								</svg>
							</button>
						</div>

					</div>

					<!-- Water quantity selector -->
					<div class="flex items-center justify-between mb-4">
						<div class="flex items-center justify-between">
							<label>Water</label>
							<img src="../static/images/tree_game/watercan-full.png" alt="Water" class="w-20 rounded-lg">
						</div>
						<div class="flex items-center justify-between">
							<button id="water-decrease" type="button"
								class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
								<svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
									viewBox="0 0 24 24">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
										stroke-width="2" d="M20 12H4" />
								</svg>
							</button>
							<input id="water-quantity" type="number" min="0" value="0"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-32 p-2.5 text-center dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
							<button id="water-increase" type="button"
								class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
								<svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
									viewBox="0 0 24 24">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
										stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
								</svg>
							</button>
						</div>

					</div>

					<!-- Purchase button and total cost -->
					<div class="flex items-center">
						<button id="purchase-btn" type="button"
							class="text-white inline-flex items-center bg-primary-200 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-primary-200 dark:focus:ring-blue-800">
							<svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd"
									d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
									clip-rule="evenodd"></path>
							</svg>
							<span class="inline-block align-middle">Purchase</span>
						</button>
						<span id="total-cost" class="text-sm font-medium text-gray-900 dark:text-white m-auto">Total
							Cost: 0</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Help modal -->
	<div id="HelpModal" tabindex="-1" aria-hidden="true"
		class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full bg-gray-900 bg-opacity-50">
		<div class="relative p-4 w-full max-w-md max-h-full">
			<!-- Help content -->
			<div class="relative bg-main rounded-lg dark:bg-gray-700">
				<!-- Help header -->
				<div class="flex items-center justify-between p-2 md:p-4 border-b rounded-t dark:border-gray-600">
					<h3 class="text-lg font-semibold text-gray-900 dark:text-white">
						Help
					</h3>
					<!-- close btn -->
					<button id="btn-close-help-modal" type="button"
						class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
						<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
							viewBox="0 0 14 14">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
						</svg>
						<span class="sr-only">Close modal</span>
					</button>
				</div>
				<!-- Help body -->
				<div class="p-4 md:p-5 max-h-[500px] overflow-y-scroll">
					<!-- Help information -->
					<div id="help-lines">
						<div>
							<img src="../static/images/tree_game/MainPageButton.png">
							<span class="text-sm font-medium text-gray-900 dark:text-white">Navigate to the
								homepage.</span>
						</div>
						<div>
							<img src="../static/images/tree_game/AudioButton.png">
							<span class="text-sm font-medium text-gray-900 dark:text-white">Toggle audio.</span>
						</div>
						<div>
							<img src="../static/images/tree_game/AutoButton.png">
							<span class="text-sm font-medium text-gray-900 dark:text-white">Toggle auto.</span>
						</div>
						<div>
							<img src="../static/images/tree_game/HelpButton.png">
							<span class="text-sm font-medium text-gray-900 dark:text-white">Toggle help.</span>
						</div>
						<div>
							<img src="../static/images/tree_game/shop.png">
							<span class="text-sm font-medium text-gray-900 dark:text-white">Access the shop to purchase
								additional fertilizer and water supplies to support your gardening efforts.</span>
						</div>
						<div>
							<img src="../static/images/tree_game/house.png">
							<span class="text-sm font-medium text-gray-900 dark:text-white">Navigate to your house to
								unlock additional tasks and rewards. Completing these tasks will earn you more JP
								coins.</span>
						</div>
						<div class="relative">
							<img src="../static/images/tree_game/button.png">
							<img src="../static/images/tree_game/watercan-full.png" class="absolute">
							<span class="text-sm font-medium text-gray-900 dark:text-white">Water the tree to ensure its
								healthy growth and vitality.</span>
						</div>
						<div class="relative">
							<img src="../static/images/tree_game/button.png">
							<img src="../static/images/tree_game/fertilizer-opened.png" class="absolute">
							<span class="text-sm font-medium text-gray-900 dark:text-white">Fertilize the tree to
								provide essential nutrients for its optimal growth and development.</span>
						</div>
						<div>
							<img src="../static/images/tree_game/tree11.png">
							<span class="text-sm font-medium text-gray-900 dark:text-white">The number of trees you have
								planted can be used to redeem valuable rewards.</span>
						</div>
						<div>
							<img src="../static/images/tree_game/JackPotCoin.png">
							<span class="text-sm font-medium text-gray-900 dark:text-white">JP coins, the currency used
								to exchange for fertilizers and water supplies, can be earned by completing
								tasks.</span>
						</div>
						<div>
							<img src="../static/images/bird/idle.gif">
							<span class="text-sm font-medium text-gray-900 dark:text-white">These birds appear randomly, and eliminating them will yield additional water and fertilizer. The maximum
								number of birds is five, so be sure to check regularly.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- House modal -->
	<div id="HouseModal" tabindex="-1" aria-hidden="true"
		class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full bg-gray-900 bg-opacity-50">
		<div class="relative p-4 w-full max-w-md max-h-full">
			<!-- House content -->
			<div class="relative bg-main rounded-lg dark:bg-gray-700">
				<!-- House header -->
				<div class="flex items-center justify-between p-2 md:p-4 border-b rounded-t dark:border-gray-600">
					<h3 class="text-lg font-semibold text-gray-900 dark:text-white">
						House Tasks
					</h3>
					<!-- close btn -->
					<button id="btn-close-house-modal" type="button"
						class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
						<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
							viewBox="0 0 14 14">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
						</svg>
						<span class="sr-only">Close modal</span>
					</button>
				</div>
				<!-- House body -->
				<div class="p-4 md:p-5 max-h-[500px] overflow-y-scroll">
					<!-- House task information -->
					<div id="house-tasks">

						<div class="flex justify-between p-3 m-1 bg-green-200 rounded-lg">
							<div class="flex items-center">
								<img src="../static/images/tree_game/tree11.png" class="w-6">
								<span class="text-sm font-medium text-gray-900 dark:text-white">Create 2 tasks.</span>
							</div>
							<div class="flex items-center">
								<div class="px-3">500</div>
								<img src="../static/images/tree_game/JackpotCoin.png" class="w-6">
							</div>
						</div>

						<div class="flex justify-between p-3 m-1 bg-green-200 rounded-lg">
							<div class="flex items-center">
								<img src="../static/images/tree_game/tree11.png" class="w-6">
								<span class="text-sm font-medium text-gray-900 dark:text-white">Done 6 tasks.</span>
							</div>
							<div class="flex items-center">
								<div class="px-3">300</div>
								<img src="../static/images/tree_game/JackpotCoin.png" class="w-6">
							</div>
						</div>

						<div class="flex justify-between p-3 m-1 bg-green-200 rounded-lg">
							<div class="flex items-center">
								<img src="../static/images/tree_game/fertilizer-opened.png" class="w-6">
								<span class="text-sm font-medium text-gray-900 dark:text-white">Fertilize tree 30 times.</span>
							</div>
							<div class="flex items-center">
								<div class="px-3">300</div>
								<img src="../static/images/tree_game/JackpotCoin.png" class="w-6">
							</div>
						</div>


						<div class="flex justify-between p-3 m-1 bg-green-200 rounded-lg">
							<div class="flex items-center">
								<img src="../static/images/tree_game/watercan-full.png" class="w-6">
								<span class="text-sm font-medium text-gray-900 dark:text-white">Water tree 30 times.</span>
							</div>
							<div class="flex items-center">
								<div class="px-3">300</div>
								<img src="../static/images/tree_game/JackpotCoin.png" class="w-6">
							</div>
						</div>


						<!-- Add more tasks as needed -->
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Achievement modal -->
	<div id="AchievementModal" tabindex="-1" aria-hidden="true"
	class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full bg-gray-900 bg-opacity-50">
		<div class="relative p-4 w-full max-w-md max-h-full">
			<!-- Achievement content -->
			<div class="relative bg-main rounded-lg dark:bg-gray-700">
				<!-- Achievement header -->
				<div class="flex items-center justify-between p-2 md:p-4 border-b rounded-t dark:border-gray-600">
					<h3 class="text-lg font-semibold text-gray-900 dark:text-white">
						Achievements
					</h3>
					<!-- close btn -->
					<button id="btn-close-achievement-modal" type="button"
						class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
						<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
							viewBox="0 0 14 14">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
						</svg>
						<span class="sr-only">Close modal</span>
					</button>
				</div>
				<!-- Achievement body -->
				<div class="p-4 md:p-5 max-h-[500px] overflow-y-scroll">
					<!-- Achievement task information -->
					<div id="achievement-tasks">
						<!-- Achievement tasks -->
						<div class="flex flex-col justify-between p-3 m-1 bg-green-200 rounded-lg">
							<div class="flex">
								<div class="flex items-center">
									<img src="../static/images/tree_game/tree11.png" class="w-6">
									<span class="text-sm font-medium text-gray-900 dark:text-white">Tree have planted.</span>
								</div>
								<div class="flex items-center">
									<div id="coinRewardForNextStageTreePlanted" class="px-3">0</div>
									<img src="../static/images/tree_game/JackpotCoin.png" class="w-6">
								</div>
							</div>
							<div class="flex justify-center items-center">
								<div class="progress-container mr-5">
									<div class="progress-bar" id="progressBarNumberOfTree">
										<div class="percentage hidden" id="percentageNumberOfTree">0%</div>
									</div>
								</div>
								<div id="current-Tree-Count/currentMax-Tree-CountThreshold">
									0/0
								</div>
							</div>
						</div>
						

						<div class="flex flex-col justify-between p-3 m-1 bg-cyan-200 rounded-lg">
							<div class="flex">
								<div class="flex items-center">
									<img src="../static/images/tree_game/watercan-full.png" class="w-6">
									<span class="text-sm font-medium text-gray-900 dark:text-white">Water have used.</span>
								</div>
								<div class="flex items-center">
									<div id="coinRewardForNextStageWaterUsed" class="px-3">0</div>
									<img src="../static/images/tree_game/JackpotCoin.png" class="w-6">
								</div>
							</div>
							<div class="flex justify-center items-center">
								<div class="progress-container mr-5">
									<div class="progress-bar" id="progressBarNumberOfWater">
										<div class="percentage hidden" id="percentageNumberOfWater">0%</div>
									</div>
								</div>
								<div id="current-Water-Count/currentMax-Water-CountThreshold">
									0/0
								</div>
							</div>
						</div>


						<div class="flex flex-col justify-between p-3 m-1 bg-yellow-200 rounded-lg">
							<div class="flex">
								<div class="flex items-center">
									<img src="../static/images/tree_game/fertilizer-opened.png" class="w-6">
									<span class="text-sm font-medium text-gray-900 dark:text-white">Fertilizer have used.</span>
								</div>
								<div class="flex items-center">
									<div id="coinRewardForNextStageFertilizerUsed" class="px-3">0</div>
									<img src="../static/images/tree_game/JackpotCoin.png" class="w-6">
								</div>
							</div>
							<div class="flex justify-center items-center">
								<div class="progress-container mr-5">
									<div class="progress-bar" id="progressBarNumberOfFertilizer">
										<div class="percentage hidden" id="percentageNumberOfFertilizer">0%</div>
									</div>
								</div>
								<div id="current-Fertilizer-Count/currentMax-Fertilizer-CountThreshold">
									0/0
								</div>
							</div>
						</div>



						<div class="flex flex-col justify-between p-3 m-1 bg-purple-200 rounded-lg">
							<div class="flex">
								<div class="flex items-center">
									<img src="../static/images/bird/idle.gif" class="w-6">
									<span class="text-sm font-medium text-gray-900 dark:text-white">Bird have eliminated.</span>
								</div>
								<div class="flex items-center">
									<div id="coinRewardForNextStageBirdHaveEliminated" class="px-3">0</div>
									<img src="../static/images/tree_game/JackpotCoin.png" class="w-6">
								</div>
							</div>
							<div class="flex justify-center items-center">
								<div class="progress-container mr-5">
									<div class="progress-bar" id="progressBarNumberOfBirdHaveEliminated">
										<div class="percentage hidden" id="percentageNumberOfBirdHaveEliminated">0%</div>
									</div>
								</div>
								<div id="current-Bird-Count/currentMax-Bird-CountThreshold">
									0/0
								</div>
							</div>
						</div>

						<!-- Add more achievement tasks as needed -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--########################################################### EoAddons ######################################################################-->

	<div class="">
		<!--Body Container-->
		<!--Begin header-->
		<!--########################################################### Main Screen ######################################################################-->
		<!--Begin profile screen-->
		<div class="tree-container relative w-screen h-screen forest-background flex flex-col items-center">
			<audio id="treeGrowthAudio">
				<source src="../static/sounds/big-plants-crops-growing-quickly.mp3" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio>
			<audio id="birdHitAudio">
				<source src="../static/sounds/quack(bird_hit_sound).mp3" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio>
			<audio id="treeResetAudio">
				<source src="../static/sounds/treegrown.mp3" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio>
			<audio id="backgroundAudio" loop="loop">
				<source src="../static/sounds/ambient_sound.mp3" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio>
			<audio id="buyingAudio">
				<source src="../static/sounds/buying.mp3" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio>
			<audio id="storebellAudio">
				<source src="../static/sounds/bellringAudio.mp3" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio>
			<audio id="wateringAudio">
				<source src="../static/sounds/audio_watering.wav" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio>
			<audio id="fertilizingAudio">
				<source src="../static/sounds/dirt_fertilize.wav" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio>

			<div id="sideOptions">
				<img src="../static/images/tree_game/MainPageButton.png" id="mainpageButton" class=""
					onclick="window.location.href=`{{url_for('todo.main_page')}}`">
				<img src="../static/images/tree_game/AudioButton.png" id="audioButton" class=""
					onclick="updateAudioOption(true)">
				<img src="../static/images/tree_game/AutoButton.png" id="autoButton" class=""
					onclick="updateAutoOption(true)">
				<img src="../static/images/tree_game/HelpButton.png" id="helpButton" class="">
				<img src="../static/images/tree_game/AchievementButton.png" id="achievementButton" class="">
			</div>

			<div id="Items-hub" class="">
				<div id="TreeDisplay" class="flex bg-green-300">
					<img src="../static/images/tree_game/tree11.png" class="w-10">
					<div class="vt323-regular"> : </div>
					<div id="treeCount" class="vt323-regular">0</div>
				</div>

				<div id="CoinDisplay" class="flex my-4 py-1 bg-yellow-500">
					<img src="../static/images/tree_game/JackpotCoin.png" class="w-7 ml-1">
					<div class="vt323-regular ml-2"> : </div>
					<span id="CoinsOwnNumber" class="vt323-regular">0</span>
				</div>
				<div class="progress-container">
					<div class="progress-bar" id="progressBar">
						<div class="percentage hidden" id="percentage">0%</div>
					</div>
				</div>
			</div>
			<!-- main display -->
			<div class="center-display flex items-center justify-center overflow-hidden">
				<div class="no-flex-col-when-less-1000px mt-32-when-lower-1000px flex">
					<img id="shop" src="../static/images/tree_game/shop.png" alt="Shop" class="">
					<img id="house" src="../static/images/tree_game/house.png" alt="House" class="">
				</div>
				<div>
					<div class="w-3/4 m-auto">
						<img id="tree" src="../static/images/tree_game/tree1.png" class="" alt="Tree">
						<div class="options">
							<div id="waterbutton" onclick="waterTree()">
								<img src="../static/images/tree_game/watercan-full.png" alt="Watering Can">
								<div id="waterCount" class="">0</div>
							</div>
							<div id="fertilizebutton" onclick="fertilizeTree()">
								<img src="../static/images/tree_game/fertilizer-opened.png" alt="Fertilizer">
								<div id="fertilizerCount" class="">0</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--End profile screen-->

	<!--########################################################### EoMain Screen ######################################################################-->
	<script src="../static/js/bird.js"></script>
	<script src="../static/js/tree.js"></script>
	<script src="../static/js/shop.js"></script>
	<script src="../static/js/house.js"></script>
</body>

</html>