<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/main.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</head>

<body>
    <section class="bg-bg4 bg-cover flex flex-col items-center justify-center h-screen ">
      <div class=" register w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8 ">
        <h1 class="flex flex-col items-center justify-center py-3 font-bold text-2xl w-full h-15 text-gray-900 dark:text-white mb-5">
          verify your email
        </h1>
        <form class=" space-y-4 lg:mt-5 md:space-y-5" action="#">  
          <div>
              <label for="code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm code</label>
              <input type="text" name="code" id="code" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-secondary-600 focus:border-secondary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
          </div>
          <button type="submit" class="w-full text-white bg-secondary-600 hover:bg-secondary-700 focus:ring-4 focus:outline-none focus:ring-secondary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-secondary-600 dark:hover:bg-secondary-700 dark:focus:ring-secondary-800">verify</button>
        </form>
        <p>Didn't get the code? <a class="font-medium text-secondary-600 hover:underline dark:text-secondary-500" href="#">Resent code</a></p>
      </div>
     
    </section>
</body>

</html>