@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    .hidden {
        @apply hidden;
    }
} */
@layer components {
    .main {
        @apply border-4 rounded-[3vh] mx-[2vw] flex-none
    }
    .grey-border-rounded {
        @apply border-4 rounded-[3vh] 
    }
    .button{
        @apply my-3 flex items-center;
    }
    .bottom{
        @apply fixed h-20 bottom-0 right-0 left-0;
        background-color: aliceblue;
    }
    .toggle {
        width: 50px;
        height: 25px;
        background: #444;
        border-radius: 30px;
    }
    .toggle .toggle-button {
        margin-left: 3px;
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 10px;
    }
    .task-container {
        @apply border-4 rounded-[3vh] mx-[2vw] flex-none;
    }
    .carousel-container {
        @apply hidden ease-in-out duration-700;
    }
    .task-content-container {
        @apply flex justify-between items-center border-2 mx-[5vw] md:mx-[10vw] my-[2vh] px-[2vh] rounded-[3vh]
    }
}
