@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .logo-image {
        height: 100%;
        padding: .75rem .75rem;
        margin: .15rem .15rem;
    }

    .product-image {
        height: 100%; 
    }

    .image-wrapper{
        @apply h-64 w-96 flex justify-center items-center; 
    }

    .title {
        @apply font-sans text-3xl md:text-5xl  font-bold text-left;
    }

    .content {
        @apply text-xl md:text-2xl font-light text-left;
    }

    .statistic-frame {
        @apply flex flex-col justify-center items-center m-5;
    }
    .section{
        @apply flex flex-col justify-center items-center mb-56;
    }

    .footer-text{
        @apply base-anim delay-0  hover:-translate-y-0.5 font-medium text-base text-center underline-offset-4 lg:text-left hover:underline my-2 hover:text-slate-500 ;
    }
    .footer-title{
        @apply font-semibold text-lg md:text-xl text-center my-3;
    }
    .base-anim{
        @apply transform transition-all ease-in-out duration-200 delay-100 hover:duration-500 hover:scale-110;
    }
}